---
layout: default
---

<main role="main" itemprop="mainContentOfPage">
  <article class="pageContent">

    <!-- Page header -->

    {% assign page_description = page.description %}
    {% if page_description %}
      {% assign page_description = page_description | smartify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pageHeader-title{% if paginator.page > 1 %} paginatorHeader-title{% endif %}" itemprop="name">{{ page.title }}</h1>
          <hr class="pageHeader-introDivider{% if paginator.page > 1 %} paginatorHeader-introDivider{% endif %}">
          <span class="pageHeader-description{% if paginator.page > 1 %} paginatorHeader-description{% endif %}" itemprop="description">{{ page_description }}</span>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pageBody markdownBody clearfix">

            {{ content }}

          </div>
        </div>
      </div>
    </div>

  </article>
</main>