<ul class="list-unstyled inline-right">
    <li><a href="components/grid.html">Grid</a></li>
    <li><a href="components/forms.html">Forms</a></li>
    <li><a href="components/buttons.html">Buttons</a></li>
</ul>