header .col:before, pre:before, .code-example > div:before, header .col:after, pre:after, .code-example > div:after {
  content: '';
  display: block;
  clear: both; }

body {
  font-size: 1.8rem; }

a[href^="https://github.com"] {
  position: relative; }
  a[href^="https://github.com"]:after {
    content: "\e600";
    font-family: 'mate', sans-serif;
    margin-left: 5px;
    transition: all 300ms ease-in-out 0s; }
  a[href^="https://github.com"]:hover:after {
    color: #1ab394; }

.link-neutral {
  border-bottom: 1px solid rgba(60, 60, 60, 0.4); }
  .link-neutral:hover {
    color: #3c3c3c;
    border-bottom-color: #1ab394; }

h2 > [href^="#"] {
  opacity: 0.2;
  color: #3c3c3c;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s; }
  h2 > [href^="#"]:hover {
    opacity: 0.6; }

.sidebar-on {
  overflow: hidden; }
  .sidebar-on aside {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .sidebar-on .aside-toggle {
    right: 15px; }
    .sidebar-on .aside-toggle:before {
      content: "\e60c"; }

.aside-toggle {
  position: fixed;
  z-index: 1001;
  bottom: 15px;
  right: 15px;
  display: none;
  background-color: #1ab394;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out 300ms; }
  .aside-toggle:before {
    vertical-align: middle;
    color: white;
    line-height: 36px; }
  @media screen and (max-width: 719px) {
    .aside-toggle {
      display: block; } }

body, html {
  height: 100%; }

header {
  font-size: 1.5rem; }
  header .col {
    padding-top: 15px;
    padding-bottom: 15px; }

ul, ol {
  margin-bottom: 20px; }

main > aside {
  position: relative;
  z-index: 10;
  height: 100%;
  padding: 0 !important; }
  @media screen and (max-width: 719px) {
    main > aside {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      transition: all 300ms ease-in-out 0s;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      padding: 15px; } }
  main > aside:after {
    content: '';
    display: block;
    height: 1px; }
  main > aside > div[class*="col-"] {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #272822;
    padding: 50px;
    height: 100%;
    color: #ffffff; }
    @media screen and (max-width: 1023px) {
      main > aside > div[class*="col-"] {
        padding: 25px; } }
    @media screen and (max-width: 719px) {
      main > aside > div[class*="col-"] {
        position: static; } }
  main > aside figure {
    text-align: right;
    margin-bottom: 25px;
    line-height: 1;
    font-size: 3rem; }
    @media screen and (max-width: 719px) {
      main > aside figure {
        text-align: center; } }
    main > aside figure img {
      display: inline-block;
      vertical-align: middle; }
    main > aside figure span {
      vertical-align: middle;
      line-height: normal;
      margin-left: 7px;
      font-size: 1.2rem; }
  main > aside a {
    color: #ffffff;
    text-decoration: none; }
  main > aside ul {
    height: calc(100% - 71px);
    overflow: auto;
    line-height: normal;
    text-align: right; }
    @media screen and (max-width: 719px) {
      main > aside ul {
        text-align: center; } }
    main > aside ul li {
      margin: 5px 0; }
      main > aside ul li > hr {
        background-color: white; }
    main > aside ul a {
      display: block;
      padding: 5px 10px;
      transition: background-color 300ms ease-in-out 0s, color 300ms ease-in-out 0s; }
      main > aside ul a.act, main > aside ul a:hover {
        background-color: #1ab394; }
  main > aside .aside__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #272822;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
main > section[class*="col-"] {
  padding: 50px; }
  @media screen and (min-width: 720px) and (max-width: 1023px) {
    main > section[class*="col-"] {
      padding: 25px; } }
  @media screen and (max-width: 719px) {
    main > section[class*="col-"] {
      padding: 15px 15px 61px; } }
  main > section[class*="col-"] > h1:first-child {
    margin-top: 0; }
  @media screen and (max-width: 719px) {
    main > section[class*="col-"] > h1 {
      text-align: center; } }

.tags {
  border-top: 1px solid #cccccc;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 0; }
  .tags li {
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    background-color: #272822;
    color: #ffffff;
    font-size: 1.4rem; }

p code,
ul code,
h4 code {
  background-color: #272822;
  color: #fff;
  padding: 1px 5px;
  font-size: 1.4rem;
  border-radius: 3px;
  display: inline-block; }

pre {
  margin: 25px 0;
  border: 0; }
  @media screen and (max-width: 1023px) {
    pre {
      padding: 15px; } }

.code-example {
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 25px 0;
  font-size: 1.6rem; }
  .code-example > div {
    margin: 25px; }
  .code-example--btns .btn {
    margin-bottom: 5px; }
  .code-example--grid > div > .row {
    margin-left: 0;
    margin-right: 0; }
  .code-example--grid .row:hover [class^="col-"] {
    background-color: #1ab394;
    color: white; }
    .code-example--grid .row:hover [class^="col-"]:hover {
      background-color: #15947a; }
  .code-example--grid [class^="col-"] {
    background-color: #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #cccccc;
    white-space: nowrap; }
  .code-example__icons [class^=col-] {
    position: relative;
    text-align: center;
    border: 2px solid white;
    padding: 15px 10px;
    background-color: #dddddd;
    transition: all 300ms ease-in-out 0s; }
    .code-example__icons [class^=col-]:hover:not([data-content]) {
      cursor: pointer;
      background-color: #1ab394;
      color: white; }
  .code-example__icons .content-value {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.85);
    color: #fff;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: font-face("Lato-Regular"); }
    .code-example__icons .content-value i {
      font-size: 1.8rem;
      font-style: normal; }
    .code-example__icons .content-value p {
      font-size: 1.2rem; }
  .code-example__icons p {
    line-height: 1;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0; }
  .code-example__icons [class^="icon-"], .code-example__icons [class*=" icon-"] {
    font-size: 2.4rem; }
  .code-example pre[class*="language-"] {
    margin: 0 -1px -1px -1px; }
    .code-example pre[class*="language-"]:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
  .code-example form .input-radio {
    max-width: 410px; }

[class*="masonry-"] {
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px; }

[class*="masonry-"] > article {
  margin-bottom: 25px; }
  [class*="masonry-"] > article img {
    display: block; }

/*# sourceMappingURL=mate-doc.css.map */
