// ============================================================
// mate BASE STYLES
// ============================================================
// TODO: dołączać tylko toolbox z katalogu zrodlowego mate

@import "../../../../src/styles/scss/mate";

// ============================================================
// mate DOCUMENTATION
// ============================================================

header{
  @include font-size(15px);
  @include line-height(20px);

  .col{
    padding-top: 15px;
    padding-bottom: 15px;
    @include clear-fix;
  }
}

aside{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $block__color--second;
  padding-bottom: 30px;
  color: $text__color--second;

  a{
    color: $text__color--second;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    @include transition((background-color, color));

    &:hover{
      background-color: $color__base--second;
    }
  }

  .list{
    padding: 20px;
    @include font-size(15px);

    li{
      margin-bottom: 0;
    }
  }

  .aside__footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $block__color--second;
    line-height: 30px;
    color: $text__color--second;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  figure{
    img{
      display: inline-block;
      vertical-align: middle;
    }

    span{
      vertical-align: middle;
      @include font-size(30px);
      color: #DBC37D;
    }
  }
}

.page-header{
  padding: 0 0 20px;
  border-bottom: 2px solid $color__base--second;
}
