// INCLUDE MATE FRAMEWORK
// ============================================================
@import "../../../../src/styles/scss/settings";
@import "../../../../src/styles/scss/normalize";
@import "../../../../src/styles/scss/toolbox";
@import "../../../../src/styles/scss/components/all";


// MATE DOCUMENTATION
// ============================================================
a[href^="https://github.com"]:before {
  content: "\e600";
  font-family: 'icomoon';
  margin-right: 5px;
}

.anchor-link {
  opacity: 0.2;
  color: $text__color--first;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba($block__color--first, 0.9);
  border-radius: 50%;
  font-size: 2.1rem;
  padding: 5px;
  margin-left: 10px;
  @include transition();

  &:before {
    display: inline-block;
    content: "\e63a";
    font-family: 'icomoon';
    vertical-align: top;
  }

  &:hover{
    color: #fff;
    opacity: 1;
    background-color: $color__base--first;
  }
}

// SIDEBAR TOGGLE
.sidebar-on {
  overflow: hidden;

  aside {
    @include transform-free(translateX(0));
  }

  .aside-toggle {
    right: 15px;

    &:before {
      content: "\e60c";
    }
  }
}

.aside-toggle {
  position: fixed;
  z-index: 1001;
  bottom: 15px;
  right: 15px;
  display: none;
  background-color: $color__base--first;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 50%;
  @include transition-free(all 300ms ease-in-out 300ms);

  &:before {
    vertical-align: middle;
    color: white;
    line-height: 36px;
  }

  @include respond-to(phone) {
    display: block;
  }
}

body, html {
  height: 100%;
}

body {
  font-size: 1.8rem;

  @include respond-to(phone) {
    @include font-size($text__size--md);
  }
}

header{
  @include font-size(15px, 20px);

  .col{
    padding-top: 15px;
    padding-bottom: 15px;
    @extend %clearfix;
  }
}

ul, ol {
  margin-bottom: 20px;
}

main {
  > aside {
    position: relative;
    z-index: 10;
    height: 100%;
    padding: 0 !important;

    @include respond-to(phone) {
      @include transform-free(translateX(-100%));
      @include transition();
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      padding: 15px;
    }

    &:after{
      content: '';
      display: block;
      height: 1px;
    }

    > div[class*="col-"] {
      position: fixed;
      left: 0;
      top: 0;
      background-color: $color__base--second;
      padding: $grid__row--gutter*2;
      height: 100%;
      color: $text__color--second;

      @include respond-to(mobile) {
        padding: $grid__row--gutter;
      }

      @include respond-to(phone) {
        position: static;
      }
    }

    figure{
      text-align: right;
      margin-bottom: $grid__row--gutter;
      line-height: 1;
      @include font-size(30px);

      @include respond-to(phone) {
        text-align: center;
      }

      img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        line-height: normal;
        margin-left: 7px;
        @include font-size(12px);

      }
    }

    a{
      color: $text__color--second;
      text-decoration: none;
    }

    ul {
      height: calc(100% - 71px);
      overflow: auto;
      line-height: normal;
      text-align: right;

      @include respond-to(phone) {
        text-align: center;
      }

      li {
        margin: 5px 0;

        >hr{
          background-color: white;
        }
      }

      a {
        display: block;
        padding: 5px 10px;
        @include transition((background-color, color));

        &.act,
        &:hover {
          background-color: $color__base--first;
        }
      }
    }

    .aside__footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $color__base--second;
      color: $text__color--second;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  > section[class*="col-"] {
    padding: $grid__row--gutter*2;

    @include respond-to(tablet) {
      padding: $grid__row--gutter;
    }

    @include respond-to(phone) {
      padding: 15px 15px 61px;
    }

    > h1 {
      font-family: $font__base--light;

      @include respond-to(phone) {
        text-align: center;
      }
    }
  }
}

.tags{
  border-top: 1px solid $border__color--first;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 0;

  li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    background-color: $color__base--second;
    color: $text__color--second;
    @include font-size(14px);
  }
}


// MATE EXAMPLES
// ============================================================
p code,
ul code,
h4 code{
  background-color: $block__color--first;
  padding: 2px;
  @include font-size(14px);
}

pre.code-example[class*="language-"]{
  margin: 0 0 $grid__row--gutter;
  border: 0;
  @extend %clearfix;

  @include respond-to(mobile) {
    padding: 15px;
  }
}

.code-example{
  border: 1px solid $border__color--first;
  border-radius: $border__radius;
  margin-bottom: $grid__row--gutter;
  font-size: 1.6rem;

  > div {
    margin: $grid__col--gutter;
    @extend %clearfix;
  }

  &--grid {
    > div > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .row {
      &:hover{
        [class^="col-"] {
          background-color: $color__base--first;
          color: white;

          &:hover {
            background-color: darken($color__base--first, 7%);
          }
        }
      }
    }

    [class^="col-"] {
      background-color: $block__color--first;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid $border__color--first;
    }
  }

  &__icons {

    [class^=col-] {
      text-align: center;
      border: 2px solid white;
      padding: 15px 10px;
      background-color: $block__color--first;
      @include transition();

      &:hover{
        background-color: $color__base--first;
        color: white;
      }
    }

    p{
      line-height: 1;
      font-size: $text__size--md;
    }

    [class^="icon-"], [class*=" icon-"] {
      @include font-size(24px);
    }
  }

  pre[class*="language-"] {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  form {
    .input-radio {
      max-width: 410px;
    }
  }
}

.flex-box {
  @include flex-wrap;

  > div {
    @include flex-item;
  }
}

[class*="masonry-"] {
  -webkit-column-gap: $grid__col--gutter;
  -moz-column-gap: $grid__col--gutter;
  column-gap: $grid__col--gutter;
}

[class*="masonry-"] > article {
  margin-bottom: $grid__row--gutter;

  img{
    display: block;
  }
}