// ============================================================
// MATE BASE STYLES
// ============================================================
// TODO: dołączać tylko toolbox z katalogu zrodlowego mate

@import "../../../../src/styles/scss/mate";

// ============================================================
// MATE DOCUMENTATION
// ============================================================

a[href^="https://github.com"]:before {
  content: "\e605";
  font-family: 'icomoon';
  margin-right: 5px;
}

header{
  @include font-size(15px, 20px);

  .col{
    padding-top: 15px;
    padding-bottom: 15px;
    @extend %clearfix;
  }
}

main {
  > section[class*="col-"]{
    padding: $grid__row--gutter*2;

    h1{
      margin-top: 0;
      text-transform: uppercase;
      color: $color__base--second;
      @include font-size($text__size--xxl);
    }
  }

  > aside[class*="col-"] {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $color__base--second;
    padding: $grid__row--gutter*2;
    color: $text__color--second;

    figure{
      text-align: right;
    }

    a{
      color: $text__color--second;
      text-decoration: none;
    }

    ul {
      @include font-size($text__size--md);

      li {
        margin-bottom: 0;

        >hr{
          background-color: white;
        }
      }

      a {
        display: block;
        padding: 5px 10px;
        @include transition((background-color, color));

        &.act,
        &:hover {
          background-color: $color__base--first;
        }
      }
    }

    .aside__footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $color__base--second;
      line-height: 30px;
      color: $text__color--second;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }

    figure {
      img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        @include font-size(30px);
      }
    }
  }
}

.tags{
  border-top: 1px solid $border__color--first;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 0;

  li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    background-color: $color__base--second;
    color: $text__color--second;
    @include font-size(14px);
  }
}


// MATE EXAMPLES
// ============================================================
p code,
ul code{
  background-color: $block__color--first;
  padding: 2px;
  @include font-size(14px);
}

.code-example{
  border: 1px solid $border__color--first;
  border-radius: $border__radius;
  padding: $grid__col--gutter 0 0;
  margin-bottom: $grid__row--gutter;

  [data-clone] {
    text-align: center;
  }

  > div{
    @extend %clearfix;
  }

  pre[class*="language-"] {
    margin-top: $grid__col--gutter;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: $grid__col--gutter;
  }

  &--grid {
    .row{
      margin: 0 $grid__col--gutter;
    }

    [class^="col-"] {
      background-color: $block__color--first;
      padding: 10px;
      border: 1px solid #fff;
    }
  }
}
