---
title: Buttons
---
<h2>Tags</h2>

<p>Zalecamy używanie stylów przycisków dla tagów <code>a</code>, <code>button</code>, <code>input</code>,
    <code>span</code>. <br>
    Gdy używasz tagu <code>a</code> weź pod uwagę dodanie atrybutu <code>role="button"</code> aby zadbać o
    dostępność.
</p>

<p>
    Dla domyślnego wyglądu przycisku wystarczy użyć klasy <code>.btn</code>
</p>

<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn" role="button">Link</a>
        <button class="btn" type="button">Button - type button</button>
        <button class="btn" type="submit">Button - type submit</button>
        <input class="btn" type="button" value="Input - type button">
        <input class="btn" type="submit" value="Input - type submit">
        <span class="btn">Span button</span>
    </div>
    <pre lang="html"></pre>
</div>

<h2>Sizes</h2>
<p>Default size is connected with medium size.</p>
<div class="code-example">
    <div>
        <div class="col-12 inline-center" data-clone>
            <a href="#" class="btn">Default size</a>
            <a href="#" class="btn btn--sm">Small size</a>
            <a href="#" class="btn btn--md">Medium size</a>
            <a href="#" class="btn btn--lg">Large size</a>
            <a href="#" class="btn btn--xl">XL size</a>
            <a href="#" class="btn btn--xxl">XXL size</a>
        </div>
    </div>
    <pre lang="html"></pre>
</div>

<h2>Colors</h2>
<p>Default color is connected with first color.</p>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn btn--color-first">First color</a>
        <a href="#" class="btn btn--color-second">Second color</a>
        <a href="#" class="btn btn--color-third">Third color</a>
        <a href="#" class="btn">Default color</a>
    </div>
    <pre lang="html"></pre>
</div>

<h2>Types and variants</h2>

<h3>Simple types</h3>
<p>Text buttons inherit paddings to achieve "vertical rhythm" with other buttons.</p>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn">Default type</a>
        <a href="#" class="btn btn--outline">Outline</a>
        <a href="#" class="btn btn--txt">Text button</a>
    </div>
    <pre lang="html"></pre>
</div>

<h3>With icons</h3>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn"><span class="icon-checkmark"></span> Button with icon from the right</a>
        <a href="#" class="btn">Button with icon from the left <span class="icon-checkmark"></span></a>
    </div>
    <pre lang="html"></pre>
</div>

<h3>Block button</h3>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn btn--block">Block button</a>
    </div>
    <pre lang="html"></pre>
</div>

<h3>Circle button</h3>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn btn--circle btn--xs"><span>xs</span></a>
        <a href="#" class="btn btn--circle btn--sm"><span>Small circle</span></a>
        <a href="#" class="btn btn--circle btn--md"><span>Medium circle</span></a>
        <a href="#" class="btn btn--circle btn--lg"><span>Large circle</span></a>
        <a href="#" class="btn btn--circle btn--xl"><span>XL circle</span></a>
        <a href="#" class="btn btn--circle btn--xxl btn--outline"><span>Outlined XXL circle</span></a>
    </div>
    <pre lang="html"></pre>
</div>

<h3>Bonus: arrow buttons!</h3>
<div class="code-example">
    <div class="inline-center" data-clone>
        <a href="#" class="btn btn--arrow-l">Arrow left</a>
        <a href="#" class="btn radius-none">Button in the middle</a>
        <a href="#" class="btn btn--arrow-r">Arrow right</a>
    </div>
    <pre lang="html"></pre>
</div>