---
title: Forms
---

<p>Formualurze wykorzystują tę samę składnie klas co grid. Wiersze formularza są bez marginesów.</p>

<label class="input-checkbox label-multiline">
    <input type="checkbox" name="pretty-checkbox">
    <span class="icon-checkmark"></span>
    <span>Pretty checkbox</span>
</label>
