---
title: Forms
---

<p>Formualurze wykorzystują tę samę składnie klas co grid. Wiersze formularza są bez marginesów.</p>

<h2>Standard form</h2>
<p>Default size is connected with medium size.</p>

<div class="code-example">
    <div data-clone>
        <form>
            <div class="row">
                <label>First name</label>
                <input type="text">
            </div>

            <div class="row">
                <label>E-mail</label>
                <input type="email">
            </div>

            <div class="row">
                <select>
                    <option value="0">---</option>
                    <option value="1">Option 2</option>
                    <option value="1">Option 3</option>
                </select>
            </div>

            <div class="row">
                <button type="submit" class="btn btn--block">Submit</button>
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<label class="input-checkbox label-multiline">
    <input type="checkbox" name="pretty-checkbox">
    <span class="icon-checkmark"></span>
    <span>Pretty checkbox</span>
</label>
