---
title: Forms
---

<p>Always use <code>fieldset</code> tag for grouping checkboxes and radios, native <code>fieldset</code> tag
    has an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset" target="_blank">additional benefits</a>.
</p>

<h2>Basic form</h2>
<p>If you need multiline label beside checkbox (or radio) use the additional <code>span</code> tag</p>

<div class="code-example">
    <div data-clone>
        <form>
            <div class="row">
                <label>Text field</label>
                <input type="text" placeholder="First name">
            </div>

            <div class="row">
                <label>Select</label>
                <select>
                    <option value="0">---</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>

            <div class="row">
                <label>Textarea</label>
                <textarea rows="3"></textarea>
            </div>

            <fieldset>
                <legend>Checkboxes</legend>
                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Checked by default first checkbox
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Second checkbox
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Radio buttons</legend>
                <div class="row">
                    <label>
                        <input type="radio" name="form-radios">
                        First radio
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="radio" name="form-radios">
                        <span>Fusce commodo aliquam arcu. Pellentesque egestas, neque sit amet convallis pulvinar, <br>
                        justo nulla eleifend augue, ac auctor orci leo non est. Praesent turpis. Suspendisse faucibus, <br>
                        nunc et pellentesque egestas, lacus ante convallis tellus, vitaeiaculis lacus elit id tortor.
                        </span>
                    </label>
                </div>
            </fieldset>

            <div class="row">
                <p class="legend">Attachments</p>
                <input type="file">
            </div>

            <button type="submit" class="btn btn--block">Submit</button>
        </form>
    </div>

    <pre lang="html"></pre>
</div>


<h2>Form divided by columns</h2>
<p>Add class <code>.grid</code> to the form and use standard grid columns as wrapper for fields.</p>

<div class="code-example">
    <div data-clone>
        <form class="grid">
            <div class="row">
                <div class="col-6">
                    <label>First name</label>
                    <input type="text">
                </div>
                <div class="col-6">
                    <label>Options</label>
                    <select>
                        <option value="0">---</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label>Email</label>
                    <input type="text">
                </div>
            </div>

            <fieldset>
                <legend>Checkboxes</legend>
                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Checked by default first checkbox
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Second checkbox
                    </label>
                </div>
            </fieldset>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h2>Disabling fields</h2>
<p>Use <code>disabled</code> parameters on tag <code>fieldset</code> to disable group of fields.</p>
<div class="code-example">
    <div>
        <form data-clone>
            <div class="row">
                <label>Text field</label>
                <input type="text" placeholder="First name" disabled>
            </div>

            <fieldset disabled>
                <p class="legend">Disabled specific field</p>

                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Checkbox 1
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Checkbox 2
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Checkbox 3
                    </label>
                </div>
            </fieldset>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h2>Form validation</h2>
<div class="code-example">
    <div>
        <form data-clone>
            <div class="row form-error">
                <label>Text field <em>.</em></label>
                <strong class="form-error__message">This field is required</strong>
                <input type="text">
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<div class="code-example">
    <div>
        <form data-clone>
            <div class="row form-error">
                <label>Drop down field <em>.</em></label>
                <strong class="form-error__message">This field is required</strong>
                <select>
                    <option value="0">---</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<div class="code-example">
    <div>
        <form data-clone>
            <fieldset>
                <div class="row form-error">
                    <label>
                        <input type="checkbox">
                        First checkbox <em>.</em>
                        <strong class="form-error__message">This field is required</strong>
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Second checkbox <em>.</em>
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Second checkbox
                    </label>
                </div>
            </fieldset>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h3>Validation for group of fields</h3>
<div class="code-example">
    <div>
        <form data-clone>

            <p class="legend">In hac habitasse platea dictumst <em>.</em></p>

            <fieldset class="form-error">
                <strong class="form-error__message">Minimum one field is required</strong>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        First checkbox
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Second checkbox
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Third checkbox
                    </label>
                </div>
            </fieldset>

        </form>
    </div>

    <pre lang="html"></pre>
</div>


<h2>Bonuses</h2>

<h3>Pure CSS pretty checkboxes and radios</h3>
<div class="code-example">
    <div>
        <form data-clone>
            <div class="row">
                <label class="input-checkbox">
                    <input type="checkbox" name="pretty-checkbox">
                    <span class="icon-checkmark"></span>
                    <span>Fusce commodo aliquam arcutellus</span>
                </label>
            </div>
            <div class="row">
                <label class="input-radio">
                    <input type="radio" name="pretty-radio">
                    <span class="icon-dot"></span>
                    <span>Fusce commodo aliquam arcu. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Praesent turpis. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Maecenas malesuada.</span>
                </label>
            </div>
        </form>

    </div>

    <pre lang="html"></pre>
</div>

<h3>Elegant input file with only one line (inline) of JavaScript!</h3>
<p>Important: Input file must be placed inside <code>form</code> and then in <code>label</code> tag!</p>

<h4>Single file</h4>
<div class="code-example">
    <div>
        <form data-clone>
            <label>
                <span class="btn btn--color-second btn--file">Choose file</span>
                <input type="file" onchange="parentNode.setAttribute('data-file', this.files[0].name)">
            </label>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h4>Multiple files</h4>
<div class="code-example">
    <div>
        <form data-clone>
            <label>
                <span class="btn btn--color-second btn--file">Choose files</span>
                <input multiple type="file" onchange="parentNode.setAttribute('data-file-multiple', this.files.length)">
            </label>
        </form>
    </div>

    <pre lang="html"></pre>
</div>