---
title: Forms
---

<p>Formualurze wykorzystują tę samę składnie klas co grid. Wiersze formularza są bez marginesów.</p>

<h2>Standard form fields</h2>

<div class="code-example">
    <div data-clone>
        <form>
            <div class="row">
                <label>Text field</label>
                <input type="text" placeholder="First name" readonly>
            </div>

            <div class="row">
                <label>Select</label>
                <select>
                    <option value="0">---</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>

            <fieldset>
                <legend>Please choose one option</legend>
                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Checked by default radio 1
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Checkbox 2
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <div class="row">
                    <label>
                        <input type="radio" name="form-radios">
                        Radio 1
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="radio" name="form-radios">
                        Radio 2
                    </label>
                </div>
            </fieldset>

            <div class="row">
                <label>Textarea</label>
                <textarea rows="3"></textarea>
            </div>

            <div class="row">
                <button type="submit" class="btn btn--block">Submit</button>
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h2>Disabling fields</h2>

<div class="code-example">
    <div data-clone>
        <form>

            <fieldset>
                <legend>Disabled specific field</legend>
                <div class="row">
                    <label>
                        <input type="radio"  disabled>
                        Radio 1
                    </label>
                </div>
            </fieldset>

            <fieldset disabled>
                <legend>Disabled whole fieldset</legend>
                <div class="row">
                    <label>
                        <input type="checkbox" checked>
                        Checkbox 1
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Checkbox 2
                    </label>
                </div>

                <div class="row">
                    <label>
                        <input type="checkbox">
                        Checkbox 3
                    </label>
                </div>
            </fieldset>


            <div class="row">
                <button type="submit" class="btn btn--block">Submit</button>
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<h2>HTML5 fields</h2>

<div class="code-example">
    <div data-clone>
        <form>
            <div class="row">
                <label>Search field</label>
                <input type="search" placeholder="Search something ...">
            </div>

            <div class="row">
                <label>E-mail field</label>
                <input type="email" placeholder="E-mail">
            </div>

            <div class="row">
                <label>Number field</label>
                <input type="number" placeholder="Number">
            </div>

            <div class="row">
                <button type="submit" class="btn btn--block">Submit</button>
            </div>
        </form>
    </div>

    <pre lang="html"></pre>
</div>

<label class="input-checkbox label-multiline">
    <input type="checkbox" name="pretty-checkbox">
    <span class="icon-checkmark"></span>
    <span>Pretty checkbox</span>
</label>
