---
title: Grid
---

<h2>Basic grid</h2>

<div class="grid--example">
    <div class="row">
        <div class="col__1">.col__1</div>
        <div class="col__11">.col__11</div>
    </div>
    <div class="row">
        <div class="col__2">.col__2</div>
        <div class="col__10">.col__10</div>
    </div>
    <div class="row">
        <div class="col__3">.col__3</div>
        <div class="col__9">.col__9</div>
    </div>
    <div class="row">
        <div class="col__4">.col__4</div>
        <div class="col__8">.col__8</div>
    </div>
    <div class="row">
        <div class="col__5">.col__5</div>
        <div class="col__7">.col__7</div>
    </div>
    <div class="row">
        <div class="col__6">.col__6</div>
        <div class="col__6">.col__6</div>
    </div>
    <div class="row">
        <div class="col__7">.col__7</div>
        <div class="col__5">.col__5</div>
    </div>
    <div class="row">
        <div class="col__8">.col__8</div>
        <div class="col__4">.col__4</div>
    </div>
    <div class="row">
        <div class="col__9">.col__9</div>
        <div class="col__3">.col__3</div>
    </div>
    <div class="row">
        <div class="col__10">.col__10</div>
        <div class="col__2">.col__2</div>
    </div>
    <div class="row">
        <div class="col__11">.col__11</div>
        <div class="col__1">.col__1</div>
    </div>
    <div class="row">
        <div class="col__12">.col__12</div>
    </div>

    <div class="row">
        <div class="col__4">.col__4</div>
        <div class="col__4">.col__4</div>
        <div class="col__4">.col__4</div>
    </div>
    <div class="row">
        <div class="col__6">.col__6</div>
        <div class="col__6">.col__6</div>
    </div>
</div>

<h2>Offseting columns</h2>

<div class="grid--example">
    <div class="row">
        <div class="col__4 col--offset-4">.col__4 .col--offset-4</div>
    </div>
    <div class="row">
        <div class="col__4">.col__4</div>
        <div class="col__4 col--offset-4">.col__4 .col--offset-4</div>
    </div>
    <div class="row">
        <div class="col__6 col--offset-6">.col__6 .col--offset-6</div>
    </div>
</div>

<h2>Grid helpers</h2>

<h3>Mobile</h3>

<h4>Phone</h4>
<h4>Tablet</h4>


<pre class="line-numbers" lang="markup">
    <div class="row">
        <div class="col__1">column</div>
        <div class="col__11">column</div>
    </div>
</pre>