---
title: Grid system
---

<h2 id="nav-containers">
    Containers
    <a href="#nav-containers" class="anchor-link"></a>
</h2>
<p>The containers are optional in Mate, rows and columns can operate without them.</p>
<p>Available containers classes:</p>
<ul class="list-unstyled">
    <li><code>.box</code> - Size of container is fixed to max-width configured id settings.scss ($page__width--maxsize)</li>
    <li><code>.box--fluid</code> - 100% width of container</li>
    <li><code>.box--flex</code> - Container based on flex-box. This class is typicaly used to wrap items (columns), not rows.</li>
</ul>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="box">
            <div class="row">
                <div class="col-6">.col-6</div>
                <div class="col-6">.col-6</div>
            </div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-basic">
    Basic grid
    <a href="#nav-basic" class="anchor-link"></a>
</h2>
<p>In Mate default grid consists of 12 columns, but you can change this number in the settings file <code>settings.scss</code></p>

<div class="code-example code-example--grid">
    <div data-clone>
        <div class="row">
            <div class="col-1">.col-1</div>
            <div class="col-11">.col-11</div>
        </div>
        <div class="row">
            <div class="col-2">.col-2</div>
            <div class="col-10">.col-10</div>
        </div>
        <div class="row">
            <div class="col-3">.col-3</div>
            <div class="col-9">.col-9</div>
        </div>
        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-8">.col-8</div>
        </div>
        <div class="row">
            <div class="col-5">.col-5</div>
            <div class="col-7">.col-7</div>
        </div>
        <div class="row">
            <div class="col-6">.col-6</div>
            <div class="col-6">.col-6</div>
        </div>
        <div class="row">
            <div class="col-7">.col-7</div>
            <div class="col-5">.col-5</div>
        </div>
        <div class="row">
            <div class="col-8">.col-8</div>
            <div class="col-4">.col-4</div>
        </div>
        <div class="row">
            <div class="col-9">.col-9</div>
            <div class="col-3">.col-3</div>
        </div>
        <div class="row">
            <div class="col-10">.col-10</div>
            <div class="col-2">.col-2</div>
        </div>
        <div class="row">
            <div class="col-11">.col-11</div>
            <div class="col-1">.col-1</div>
        </div>
        <div class="row">
            <div class="col-12">.col-12</div>
        </div>

        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
        </div>
        <div class="row">
            <div class="col-6">.col-6</div>
            <div class="col-6">.col-6</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-nesting">
    Nesting columns
    <a href="#nav-nesting" class="anchor-link"></a>
</h2>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12">
                Level 1: .col-12
                <div class="row">
                    <div class="col-6">Level 2: .col-6</div>
                    <div class="col-6">Level 2: .col-6</div>
                </div>
            </div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-offseting">
    Offseting columns
    <a href="#nav-offseting" class="anchor-link"></a>
</h2>

<p>You can use offsetting for specified device by using classes dedicated to mediums,
    example .col--*-offset-3, where * is one of mediums (phone, tablet, mobile, desktop, desktop-xl).</p>

<div class="code-example code-example--grid">
    <div data-clone>
        <div class="row">
            <div class="col-4 col--offset-4">.col-4 .col--offset-4</div>
        </div>
        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-4 col--offset-4">.col-4 .col--offset-4</div>
        </div>
        <div class="row">
            <div class="col-6 col--offset-6">.col-6 .col--offset-6</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h3>Reset offseting</h3>
<p>To reset offset use these classes:</p>
<ul class="list-unstyled">
    <li><code>.col--phone-offset-0</code></li>
    <li><code>.col--tablet-offset-0</code></li>
    <li><code>.col--mobile-offset-0</code></li>
    <li><code>.col--desktop-offset-0</code></li>
    <li><code>.col--desktop-xl-offset-0</code></li>
</ul>


<h2 id="nav-rwd">
    RWD
    <a href="#nav-rwd" class="anchor-link"></a>
</h2>

<h3>Desktop + Phone</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-4 col-12--phone">.col-4 .col-12--phone</div>
            <div class="col-4 col-6--phone">.col-4 .col-6--phone</div>
            <div class="col-4 col-6--phone">.col-4 .col-6--phone</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>


<h3>Desktop + Tablet</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12 col-6--tablet">.col-12 .col-6--tablet</div>
            <div class="col-6 col-6--tablet">.col-6 .col-6--tablet</div>
            <div class="col-6 col-12--tablet">.col-6 .col-12--tablet</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h3>Desktop + Tablet + Phone</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12 col-6--tablet col-12--phone">.col-12 .col-6--tablet .col-12--phone</div>
            <div class="col-6 col-6--tablet col-12--phone">.col-6 .col-6--tablet .col-12--phone</div>
            <div class="col-6 col-12--mobile">.col-6 .col-12--mobile</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-helpers">
    Grid helpers
    <a href="#nav-helpers" class="anchor-link"></a>
</h2>

<h3>General</h3>
<p>If you need extra space from the bottom of box, row or col, just use these classes depending od device:</p>
<ul class="list-unstyled">
    <li><code>.grid-phone-add-gutter-bottom</code></li>
    <li><code>.grid-tablet-add-gutter-bottom</code></li>
    <li><code>.grid-mobile-add-gutter-bottom</code></li>
    <li><code>.grid-desktop-add-gutter-bottom</code></li>
    <li><code>.grid-desktop-xl-add-gutter-bottom</code></li>
</ul>

<p>In addition there is an extra mixin to generate bottom gutter in custom place:</p>
<ul>
    <li>with custom size: <code>@include grid-add-bottom-gutter($grid__row--gutter*3)</code></li>
    <li>or default size: <code>@include grid-add-bottom-gutter</code></li>
</ul>

<h3>Rows</h3>

<ul class="list-unstyled">
    <li>
        <code>.row--no-gutter</code> - Reset gutters (zero margins)
    </li>
</ul>

<h3>Columns</h3>

<ul class="list-unstyled">
    <li><code>.col--no-gutter</code> - Reset gutters (zero paddings)</li>
</ul>