---
title: Grid system
---

<h2 id="nav-basic">
    Basic grid
    <a href="#nav-basic" class="anchor-link"></a>
</h2>
<p>W Mate domyślny grid składa się z 12 kolumn, możesz jednak zmienić tę liczbę w ustawnieniach w pliku <code>settings.scss</code></p>

<div class="code-example code-example--grid">
    <div data-clone>
        <div class="row">
            <div class="col-1">.col-1</div>
            <div class="col-11">.col-11</div>
        </div>
        <div class="row">
            <div class="col-2">.col-2</div>
            <div class="col-10">.col-10</div>
        </div>
        <div class="row">
            <div class="col-3">.col-3</div>
            <div class="col-9">.col-9</div>
        </div>
        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-8">.col-8</div>
        </div>
        <div class="row">
            <div class="col-5">.col-5</div>
            <div class="col-7">.col-7</div>
        </div>
        <div class="row">
            <div class="col-6">.col-6</div>
            <div class="col-6">.col-6</div>
        </div>
        <div class="row">
            <div class="col-7">.col-7</div>
            <div class="col-5">.col-5</div>
        </div>
        <div class="row">
            <div class="col-8">.col-8</div>
            <div class="col-4">.col-4</div>
        </div>
        <div class="row">
            <div class="col-9">.col-9</div>
            <div class="col-3">.col-3</div>
        </div>
        <div class="row">
            <div class="col-10">.col-10</div>
            <div class="col-2">.col-2</div>
        </div>
        <div class="row">
            <div class="col-11">.col-11</div>
            <div class="col-1">.col-1</div>
        </div>
        <div class="row">
            <div class="col-12">.col-12</div>
        </div>

        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
            <div class="col-4">.col-4</div>
        </div>
        <div class="row">
            <div class="col-6">.col-6</div>
            <div class="col-6">.col-6</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-nesting">
    Nesting columns
    <a href="#nav-nesting" class="anchor-link"></a>
</h2>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12">
                Level 1: .col-12
                <div class="row">
                    <div class="col-6">Level 2: .col-6</div>
                    <div class="col-6">Level 2: .col-6</div>
                </div>
            </div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-offseting">
    Offseting columns
    <a href="#nav-offseting" class="anchor-link"></a>
</h2>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-4 col--offset-4">.col-4 .col--offset-4</div>
        </div>
        <div class="row">
            <div class="col-4">.col-4</div>
            <div class="col-4 col--offset-4">.col-4 .col--offset-4</div>
        </div>
        <div class="row">
            <div class="col-6 col--offset-6">.col-6 .col--offset-6</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>


<h2 id="nav-rwd">
    RWD
    <a href="#nav-rwd" class="anchor-link"></a>
</h2>

<h3>Desktop + Phone</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-4 col-12--phone">.col-4 .col-12--phone</div>
            <div class="col-4 col-6--phone">.col-4 .col-6--phone</div>
            <div class="col-4 col-6--phone">.col-4 .col-6--phone</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>


<h3>Desktop + Tablet</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12 col-6--tablet">.col-12 .col-6--tablet</div>
            <div class="col-6 col-6--tablet">.col-6 .col-6--tablet</div>
            <div class="col-6 col-12--tablet">.col-6 .col-12--tablet</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h3>Desktop + Tablet + Phone</h3>

<div class="code-example code-example--grid">

    <div data-clone>
        <div class="row">
            <div class="col-12 col-6--tablet col-12--phone">.col-12 .col-6--tablet .col-12--phone</div>
            <div class="col-6 col-6--tablet col-12--phone">.col-6 .col-6--tablet .col-12--phone</div>
            <div class="col-6 col-12--mobile">.col-6 .col-12--mobile</div>
        </div>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-helpers">
    Grid helpers
    <a href="#nav-helpers" class="anchor-link"></a>
</h2>

<h3>Rows</h3>

<ul class="list-unstyled">
    <li>
        <code>.row--add-gutter</code> - Add bottom gutter
    </li>
    <li>
        <code>.row--dbl-gutter</code> - Add double bottom gutter
    </li>
    <li>
        <code>.row--no-gutter</code> - Reset gutters (zero margins)
    </li>
</ul>

<h3>Columns</h3>

<ul class="list-unstyled">
    <li><code>.col--no-gutter</code> - Reset gutters</li>
</ul>