---
title: Helpers
---

<p>Helpers are a collection of useful classes.</p>

<p><a class="link-neutral" href="https://github.com/r4fx/mate/blob/master/src/styles/scss/components/_helpers.scss" target="_blank">preview helpers.scss on github</a></p>


<h2 id="nav-helpes">
    Available classes
    <a href="#nav-helpers" class="anchor-link"></a>
</h2>

<ul class="list-unstyled">
    <li><code>.hidden</code></li>
    <li><code>.hidden--mobile</code></li>
    <li><code>.hidden--phone</code></li>
    <li><code>.hidden--tablet</code></li>
    <li><code>.hidden--desktop</code></li>

    <li class="separator"></li>

    <li><code>.img--rwd</code></li>
    <li><code>.video--rwd</code></li>

    <li class="separator"></li>

    <li><code>.inline-left</code></li>
    <li><code>.inline-left--phone</code></li>
    <li ><code>.inline-right</code></li>
    <li><code>.inline-right--phone</code></li>
    <li><code>.inline-center</code></li>
    <li><code>.inline-center--phone</code></li>
    <li><code>.inline-justify</code></li>
    <li><code>.inline-justify--phone</code></li>

    <li class="separator"></li>

    <li><code>.block-center</code></li>

    <li class="separator"></li>

    <li><code>.vertical-top</code></li>
    <li><code>.vertical-middle</code></li>
    <li><code>.vertical-bottom</code></li>

    <li class="separator"></li>

    <li><code>.float-right</code></li>
    <li><code>.float-left</code></li>

    <li class="separator"></li>

    <li><code>.no-margin</code></li>
    <li><code>.radius-none</code></li>
    <li><code>.img-circle</code></li>

    <li class="separator"></li>

    <li><code>.link-neutral</code> - href color as default color of text</li>
    <li class="separator"></li>

    <li><code>.mate-blink</code> - Useful for focusing user eyes on changed element</li>
</ul>