---
title: Icons
---

<p>Ikonki pochodzą z róznych bibliotek znalezionych na <a href="https://icomoon.io/" target="_blank">icomoon.io</a>, ale nie tylko.
Zbiór ikonek możesz poszerzyć o własne pozycje, aby Ci to umożliwić zamieściliśmy w folderze <code>fonts/icomoon</code> plik konfiguracyjny
    <code>mate.json</code>, który możesz wykorzystać w <a href="https://icomoon.io/" target="_blank">IconMoon App</a>.
    <br>
</p>

<div class="code-example code-example__icons">
    <div>
        <div class="col-2">
            <span class="icon-arrow-left"></span>
        </div>
        <div class="col-2">
            <span class="icon-arrow-left"></span>
        </div>
    </div>
</div>