---
title: Mate front-end framework
---

<p>
    Mate to lekki, semantyczny framework (CSS i HTML5) na potrzeby front-endu. Podstawowym założeniem powstania Mate była prostota. <br>
    Zastosowaliśmy się do zasady "im prościej tym lepiej", dlatego</p>

    <ul>
        <li>markup został maksymalnie uproszczony, nie stosujmey niepotrzbnych zagłębień kodu,</li>
        <li>wszędzie gdzie to możliwe wykorzystujemy natywne elementy i właściwości HTML,</li>
        <li> klasy CSS używane są tylko tam gdzie wymaga tego sytuacja, np. nie używamy klasy <code>.form</code> dla formualrzy, czy <code>
            .table</code> dla bazowych tabel.</li>
    </ul>

<h3>Pozostałe założenia i funkcje:</h3>
<ul>
    <li>Grid system</li>
    <li>RWD</li>
    <li>SASS</li>
    <li>Namespace for CSS classes and SASS variables have been inspired by
        <a href="http://www.smashingmagazine.com/2012/04/16/a-new-front-end-methodology-bem/" target="_blank">BEM</a>
    </li>
    <li>CSS & SCSS helpers + toolbox library</li>
    <li>Web font icons from IcoMoon</li>
</ul>