---
title: Mate front-end framework
---

<p>Mate to lekki, semantyczny framework na potrzeby front-endu.</p>

<h2>
    Bazowe funkcjonalności
</h2>

<ul>
    <li>Grid system, you can define number of columns (default is 12)</li>
    <li>RWD</li>
    <li>SASS</li>
    <li> Namespace for CSS classes and SASS variables have been inpired by
        <a href="http://www.smashingmagazine.com/2012/04/16/a-new-front-end-methodology-bem/" target="_blank">BEM</a>
    </li>
    <li>CSS & SCSS helpers + toolbox library</li>
    <li>Web font icons from IcoMoon</li>
</ul>