---
title: Mate - dokumentacja
---

<div class="page-header">
    <h1 class="page-header__main">{{title}}</h1>

    <p class="page-header__lead">
        Mate to lekki, semantyczny framework na potrzeby front-endu.
    </p>
</div>