---
title: Mate front-end framework
---
<p>
    Mate is a lightweight, semantic framework (CSS and HTML5) for the front-end needs. The basic assumption when Mate was being creating was "keep it simple".
    We applied the principle of "the simpler the better," so
</p>

    <ul>
        <li>markup is maximally simplified, we do not use unnecessary nesting code,</li>
        <li>wherever possible, we use native HTML elements and properties,</li>
        <li>CSS classes are used only where it is required, for example we do not use class <code>.form</code> for forms, or <code>
            .table</code> for the basic tables.</li>
    </ul>

<h3>Other assumptions and functions:</h3>
<ul>
    <li>Grid system</li>
    <li>RWD</li>
    <li>SASS</li>
    <li>Namespace for CSS classes and SASS variables have been inspired by
        <a href="http://www.smashingmagazine.com/2012/04/16/a-new-front-end-methodology-bem/" target="_blank">BEM</a>
    </li>
    <li>CSS & SCSS helpers + toolbox library</li>
    <li>Web font icons from IcoMoon</li>
</ul>