---
title: Structure & conventions
tags:
- howto 1
- howto 2
---

<h2>Struktura i źródło kodu</h2>

<pre>
mate/
├── styles/
│   ├── css/
│   │   ├── mate.css
│   │   └── mate.min.css
│   ├── scss/
│   │   └── mate.scss
├── js/
│   ├── vendors/
│   │   ├── swiper/
│   │   │   ├── idangerous.swiper.css
│   │   │   └── idangerous.swiper.min.js
│   │   └── jquery-2.1.3.min.js
│   ├── mate.js
│   └── mate.min.js
└── fonts/
    ├── icomoon/
    │   ├── icomoon.svg
    │   ├── icomoon.woff
    │   └── mate.json
    └── lato/
        ├── lato-black.svg
        ├── lato-black.woff
        └── lato-...
</pre>

<h2>Komentarze wewnątrz kodu</h2>

<h3>Komentarz dla sekcji</h3>

<p>Przykład:</p>
<pre class="line-numbers" lang="scss">
// FONTS
// ============================================================
// [i] --file should contain the names of the files in the specified --dir
</pre>

<ul>
    <li>Linia 1 - nazwa/tytuł sekcji</li>
    <li>Linia 2 - 30 znaków "="</li>
    <li>Linia 3 - opcjonalna instrukcja, wskazówki jak używać</li>
</ul>

<h3>Komentarz dla podsekcji (sekcja wewnątrz innej sekcji)</h3>

<p>Przykład:</p>
<pre class="line-numbers" lang="scss">
// ROWS
// ------------------------------------------------------------
</pre>

<ul>
    <li>Linia 1 - nazwa/tytuł podsekcji</li>
    <li>Linia 2 - 30 znaków "-"</li>
</ul>

<ul class="tags">
    {{#each tags}}
        <li class="tag">{{this}}</li>
    {{/each}}
</ul>