---
title: Tables
---

<h3>Default Table</h3>
<p>You don't need to add any class name to default table.</p>
<div class="code-example">
    <div data-clone>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>

<h3>Super wide bordered table</h3>
<div class="code-example">
    <div data-clone>
        <table class="table-bordered table-wide">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>


<h3>Striped table</h3>
<div class="code-example">
    <div data-clone>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>

<h3>CSS driven table</h3>
<div class="code-example">
    <div data-clone>
        <div class="table-css">
            <div class="row table-thead">
                <div class="col-3">#</div>
                <div class="col-3">City</div>
                <div class="col-3">Country</div>
                <div class="col-3">Population</div>
            </div>
            <div class="row">
                <div class="col-3">1</div>
                <div class="col-3">Warsaw</div>
                <div class="col-3">Poland</div>
                <div class="col-3">1,732,707</div>
            </div>
            <div class="row">
                <div class="col-3">2</div>
                <div class="col-3">Berlin</div>
                <div class="col-3">Germany</div>
                <div class="col-3">3,562,166</div>
            </div>
            <div class="row">
                <div class="col-3">3</div>
                <div class="col-3">London</div>
                <div class="col-3">United Kingdom</div>
                <div class="col-3">8,416,535</div>
            </div>
        </div>
    </div>
    <pre lang="html"></pre>
</div>

<p>You can use clsss <code>.table-clean</code> to remove default padding and borders.</p>
<p>If you need simple css driven table without grid, you can omit grid columns classes and use simple <code>div</code> as col.</p>
<div class="code-example">
    <div data-clone>
        <div class="table-css table-clean">
            <div class="row table-thead">
                <div>#</div>
                <div>City</div>
                <div>Country</div>
                <div>Population</div>
            </div>
            <div class="row">
                <div>1</div>
                <div>Warsaw</div>
                <div>Poland</div>
                <div>1,732,707</div>
            </div>
            <div class="row">
                <div>2</div>
                <div>Berlin</div>
                <div>Germany</div>
                <div>3,562,166</div>
            </div>
            <div class="row">
                <div>3</div>
                <div>London</div>
                <div>United Kingdom</div>
                <div>8,416,535</div>
            </div>
        </div>
    </div>
    <pre lang="html"></pre>
</div>