---
title: Tables
---

<h3>Default Table</h3>
<p>You don't need to add any class name to default table.</p>
<div class="code-example">
    <div data-clone>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>

<h3>Bordered table</h3>
<div class="code-example">
    <div data-clone>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>


<h3>Striped table</h3>
<div class="code-example">
    <div data-clone>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Warsaw</td>
                    <td>Poland</td>
                    <td>1,732,707</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Berlin</td>
                    <td>Germany</td>
                    <td>3,562,166</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>London</td>
                    <td>United Kingdom</td>
                    <td>8,416,535</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre lang="html"></pre>
</div>