---
title: Typography
---

<h2 id="nav-headers">
    Headers
    <a href="#nav-headers" class="anchor-link"></a>
</h2>

<div class="code-example">
    <div data-clone>
        <h1>h1. Vestibulum ante ipsum primis in</h1>
        <h2>h2. Vestibulum ante ipsum primis in</h2>
        <h3>h3. Vestibulum ante ipsum primis in</h3>
        <h4>h4. Vestibulum ante ipsum primis in</h4>
        <h5>h5. Vestibulum ante ipsum primis in</h5>
        <h6>h6. Vestibulum ante ipsum primis in</h6>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-paragraphs">
    Paragraphs
    <a href="#nav-paragraphs" class="anchor-link"></a>
</h2>

<div class="code-example">
    <div data-clone>
        <p>Aenean vulputate eleifend tellus. Vestibulum dapibus nunc ac augue. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Nulla
            facilisi. Pellentesque auctor neque nec urna.</p>

        <p> Nulla consequat massa quis enim. Vivamus laoreet. Donec posuere vulputate arcu. Ut non enim eleifend felis pretium feugiat.
            Praesent nonummy mi in odio. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.
            Maecenas egestas arcu quis ligula mattis placerat.</p>
    </div>

    <pre lang="html"></pre>
</div>

<h2 id="nav-lists">
    Lists
    <a href="#nav-list" class="anchor-link"></a>
</h2>

<div class="code-example">
    <div data-clone>
        <ul>
            <li>Aenean vulputate eleifend tellus. Vestibulum dapibus nunc ac augue.</li>
            <li> Nulla consequat massa quis enim. Vivamus laoreet. Donec posuere vulputate arcu.

                <ul>
                    <li>Curabitur ligula sapien tincidunt non</li>
                    <li>Nunc egestas augue at pellentesque</li>
                </ul>
            </li>
            <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</li>
            <li class="separator--line"></li>
            <li class="list-unstyled">Phasellus accumsan cursus velit.</li>
        </ul>
    </div>

    <pre lang="html"></pre>
</div>

<h3>
    List unstyled
</h3>

<div class="code-example">
    <div data-clone>
        <ul class="list-unstyled">
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
        </ul>
    </div>

    <pre lang="html"></pre>
</div>

<h3>List inline</h3>

<div class="code-example">
    <div data-clone>
        <ul class="list-inline">
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
        </ul>
    </div>

    <pre lang="html"></pre>
</div>

<h3>List as path</h3>

<div class="code-example">
    <div data-clone>
        <ul class="list-path">
            <li>
                <a href="#">Home page</a>
            </li>
            <li>
                <a href="#">First subpage</a>
            </li>
            <li>
                <a href="#">Second subpage</a>
            </li>
        </ul>
    </div>

    <pre lang="html"></pre>
</div>

<h3>Description list</h3>

<div class="code-example">
    <div data-clone>
        <dl>
            <dt>Aenean vulputate eleifend tellus.</dt>
            <dd>Duis lobortis massa imperdiet quam</dd>
            <dd>Maecenas nec odio et ante</dd>
            <dt>Curabitur ligula sapien tincidunt non.</dt>
            <dd>Suspendisse enim turpis dictum sed</dd>
            <dt>Nunc egestas augue at pellentesque.</dt>
            <dd>Donec vitae sapien ut libero</dd>
        </dl>
    </div>

    <pre lang="html"></pre>
</div>

<h3>
    Separators in lists
</h3>

<div class="code-example">
    <div data-clone>
        <ul>
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
            <li class="separator"></li>
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
            <li class="separator--line"></li>
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
            <li class="separator"></li>
            <li>Aenean vulputate eleifend tellus.</li>
            <li>Curabitur ligula sapien tincidunt non.</li>
            <li>Nunc egestas augue at pellentesque.</li>
        </ul>
    </div>

    <pre lang="html"></pre>
</div>