// ============================================================
// BASE SKELETON
// ============================================================

*, :before, :after {
  @extend %box-sizing--border;
}

html {
  font-size: 62.5%; // Sets up the root font size to 10px

  // Breakpoint helper
  // todo: describe in manual, + how to use with JS
  // todo: add var in settings to disable?
  &:after {
    visibility: hidden;
    position: fixed;
    z-index: 99999;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: monospace;
    color: #fff;
    border-top-right-radius: 5px;

    @include respond-to(phone) {
      content: 'small';
      background-color: mediumseagreen;
    }

    @include respond-to(tablet) {
      content: 'medium';
      background-color: deepskyblue;
    }

    @include respond-to(desktop) {
      content: 'large';
      background-color: mediumpurple;
    }

    @include respond-to(desktop, xl) {
      content: 'x-large';
      background-color: tomato;
    }
  }
}
body {
  color: $text__color--first;
  font-family: $font__base--light;
  @include font-size($text__size--md, $text__line-height--md);

  // Mobile helper
  &.orientation-landscape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: url(../../images/mobile-lock.svg) no-repeat center center #fff;
    background-size: 60%;
    @include transition();
  }
}

// LINKS
// ------------------------------------------------------------
a {
  color: $text__color--link;

  &:hover {
    text-decoration: none;
  }

  &:focus {

  }

  &:active {

  }

  &:visited {

  }

  &[href^=tel]:hover {
    text-decoration: none !important;
    cursor: default;
  }
}

// IMAGES
// ------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

// MISC
// ------------------------------------------------------------
hr {
  border: 0;
  height: 1px;
  background-color: $border__color--first;
  margin: 15px auto;

  &.mini {
    width: 150px;
    margin: 50px auto;
  }
}