// ============================================================
// BASE SKELETON
// ============================================================

*, :before, :after {
  @extend %box-sizing--border;
}

html {
  font-size: 62.5%; // Sets up the root font size to 10px
}

body {
  color: $text__color--first;
  font-family: $font__base--light;
  @include font-size($text__size--md, $text__line-height--md);

  // Mobile helper
  &.orientation-landscape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: url(../../images/mobile-lock.svg) no-repeat center center #fff;
    background-size: 60%;
    @include transition();
  }
}

// LINKS
// ------------------------------------------------------------
a {
  color: $text__color--link;

  &:hover {
    text-decoration: none;
  }

  &:focus {

  }

  &:active {

  }

  &:visited {

  }

  &[href^=tel]:hover {
    text-decoration: none !important;
    cursor: default;
  }
}

// IMAGES
// ------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

// MISC
// ------------------------------------------------------------
hr {
  border: 0;
  height: 1px;
  background-color: $border__color--first;
  margin: 15px auto;

  &.mini {
    width: 150px;
    margin: 50px auto;
  }
}