*, :before, :after {
  @extend %box-sizing--border;
}

html {
  font-size: 62.5%;

  @include respond-to($mobile) {
    font-size: 62.5% - 10%;
  }
}

// BASE FONT FACE
// ------------------------------------------------------------
@include font-face($font__base--definition);

body {
  color: $text__color--first;
  font-family: $font__base--regular;
  font-size: $text__size--base;
  line-height: $text__line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// BASIC COMMON COLORS
// todo: describe in manual
// ------------------------------------------------------------
.color--alert {
  color: $color__message--alert;
}

.color--warning {
  color: $color__message--warning;
}

.color--info {
  color: $color__message--info;
}

.color--success {
  color: $color__message--success;
}

// LINKS
// ------------------------------------------------------------
a {
  color: $text__color--link;

  &:hover {
    text-decoration: none;
  }
}

[href^='tel:']{
  @extend .link-neutral;
}

.link-file[href$='.pdf'],
.link-file.file[href$='.doc'],
.link-file.file[href$='.xls'] {
  color: $text__color--first;

  &:before {
    font-family: 'mate', sans-serif;
    content: "\e616";
    display: inline-block;
    margin-right: 3px;
    font-size: 1.8rem;
    line-height: normal;
  }
}

// IMAGES
// ------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

// MISC
// todo: add to manual
// ------------------------------------------------------------
hr {
  border: 0;
  height: 1px;
  background-color: $border__color--first;
  background-clip: content-box;
  margin: $grid__row--gutter auto;

  &.hr--mini {
    width: 150px;
  }

  &.hr--half {
    width: 50%;
  }
}