// ============================================================
// BASE
// ============================================================

*, :before, :after {
  @extend %box-sizing;
}

html {
  font-size: 62.5%; /* Sets up the root font size to 10px */
}

body {
  color: $text__color--first;
  font-family: $font__base--light;
  @include font-size($text__size--md);
}


// LINKS
a {
  color: $text__color--link;

  &:hover {
    text-decoration: none;
  }

  &:focus {

  }

  &:active {

  }

  &:visited {

  }
}

// MISC
hr {
  border: 0;
  height: 1px;
  background-color: $border__color--first;
  margin: 15px auto;

  &.mini {
    width: 150px;
    margin: 50px auto;
  }
}