/* ============================================================
* BUTTONS
* ============================================================*/

// TODO: calc line height, http://www.mathayward.com/modular-css-with-sass-and-bem/

// BUTTONS: BASE
// ============================================================
.btn {
  font-family: $font__base--regular;
  color: #fff;
  line-height: 1.5;
  background-color: $color__base--second;
  text-decoration: none;
  border-radius: $border__radius;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  @include transition-free(0.4s ease);
  @extend .btn--sm;
}

// BUTTONS: SIZES
// ============================================================
.btn {
  &--sm {
    padding: 2px 10px;
    @include font-size($text__size--sm);
  }

  &--md {
    padding: 5px 20px;
    @include font-size($text__size--md);
  }

  &--lg {
    padding: 10px 25px;
    @include font-size($text__size--lg);
  }

  &--xl {
    padding: 10px 25px;
    @include font-size($text__size--lg);
  }

  &--xxl {
    padding: 15px 30px;
    @include font-size($text__size--xl);

    &.btn--circle {
      width: 140px;
      height: 140px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
}

// BUTTONS: COLORS
// ============================================================
.btn {
  &--color-first {
    color: $text__color--second;
    background-color: $text__color--link;

    &:hover {
      background-color: lighten($text__color--link, 7%);
    }
  }

  &--color-second {
    color: $color__base--first;
    background-color: #fff;

    &:hover {
      background-color: darken(#fff, 45%);
    }
  }
}

// BUTTONS: TYPES
// ============================================================
.btn {
  &--block {
    display: block;
    width: 100%;
  }

  &--txt {
    padding: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: inherit;
    }
  }

  &--circle {
    position: relative;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;

    span {
      @include centerer;
    }
  }
}

// BUTTONS: VARIANTS
// ============================================================
.btn {

  // ARROWS, LEFT & RIGHT
  &--arrow-r,
  &--arrow-l {
    position: relative;

    &:after,
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      border-style: solid;
    }
  }

  // ARROW RIGHT
  &--arrow-r {
    padding-right: 50px;

    &:after {
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent white;
      right: 20px;
    }
  }

  // ARROW LEFT
  &--arrow-l {
    padding-left: 50px;

    &:before {
      border-width: 5px 10px 0 5px;
      border-color: transparent white transparent transparent;
      left: 20px;
    }
  }

  // ICONS POSITION FIX
  .icon {
    top: -3px;
    position: relative;
  }
}

// BUTTONS: GROUPED BUTTONS
// ============================================================
.btn-group {
  display: inline-block;

  .btn {
    float: left;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 10px;
    }
  }
}

// BUTTONS: STATES
// ============================================================
.btn, .btn-group {

  &:hover {

  }

  &:active {

  }

  &:focus {

  }
}
