// ============================================================
// FORMS
// ============================================================

// INPUT PLACEHOLDER
// Example:
// .class-selector{
//   @include placeholder(red, 14px);
//}
@mixin placeholder($color: $text__color--muted, $size: null) {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  &::-moz-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  &:-ms-input-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  // CSS4
  &::placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }
}

// Use SVG icon for drop-down arrow
// Inpiration: https://css-tricks.com/probably-dont-base64-svg/
// Encode tool: http://pressbin.com/tools/urlencode_urldecode/ (use encodeURIComponent())
@mixin svg-bkg($color) {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M7%2010l5%205%205-5z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
}

%disabled {
  cursor: no-drop;
}

// FORM CONTAINERS
// ============================================================
form,
fieldset{
  > .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $grid__row--gutter;
  }
}

form.grid {
  > .row {
    margin-left: -$grid__row--gutter;
    margin-right: -$grid__row--gutter;
  }
}

fieldset {
  border: 0;
  margin: 0 0 $grid__row--gutter;
  padding: 0;

  > .row {
    margin-bottom: 5px;
  }
}

// LABELS
// ============================================================
label {
  color: $text__color--first;
  font-family: $font__base--regular;
  display: inline-block;
  margin-bottom: 5px;
}

form em {
  font-family: serif;
  font-weight: normal;
  line-height: 0;
  font-size: 2em;
  vertical-align: super;
}

.legend, legend {
  font-family: $font__base--bold;
  margin: 0 0 15px 0;
  display: block;
  padding: 0;
  border: 0;
}

fieldset > .row label {
  margin-bottom: 0;
}

// PLACEHOLDERS
// ============================================================
[placeholder] {
  @include placeholder();
}

// FIELDS
// ============================================================
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
select,
textarea {
  width: 100%;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid $border__color--first;
  border-radius: $border__radius;
  background-color: transparent;
  vertical-align: middle;
  color: $text__color--first;
  font-family: $font__base--light;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.42857143;
  @include font-size($text__size--md);

  // min. 16px on mobile devices prevent zooming to element
  @include respond-to(phone) {
    font-size: 1.6rem;
  }

  &:focus {
    outline: 0;
    border-color: $color__message--info !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px darken($color__message--info, 5%);
  }

  &[disabled]{
    @extend %disabled;
  }
}

select {
  @include svg-bkg(#000);
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

textarea {
  height: auto;
}

// FILES
// ============================================================
input[type="file"] {
  line-height: 1;
}

label > input[type="file"] {
  display: none;
}

[data-file]:after,
[data-file-multiple]:after{
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 8px;
  border-radius: 50%;
}

[data-file]:after {
  content: attr(data-file);
}

[data-file-multiple]:after {
  content: attr(data-file-multiple);
  background-color: $block__color--second;
  color: white;
  margin-left: 8px;
}

// CHECKBOXES & RADIOS
// ============================================================
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  position: relative;
  top: -1px;

  // span is used for multi line label
  ~ span {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
  }
}

// PRETTY RADIOS & CHECKBOXES
// ============================================================
.input-radio,
.input-checkbox {
  cursor: pointer;
  padding-left: 39px;

  > [class*="icon-"] {
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-left: -39px;
    margin-right: 5px;
    border: 1px solid $border__color--second;
    text-align: center;
    vertical-align: initial;
    line-height: 1;
    @include font-size($text__size--md);

    &:before {
      color: transparent;
      opacity: 0;
      margin-top: 1px;
      display: block;
      @include transition();
    }
  }

  > input {
    display: none;

    // Toggled state
    &:checked {
      ~ [class*="icon-"] {

        &:before {
          color: $border__color--second;
          opacity: 1;
        }
      }
    }
  }
}

.input-radio > [class*="icon-"] {
  border-radius: 50%;
}

// DISABLED FIELDS AND SECTIONS
// ============================================================
[disabled] {
  label {
    @extend %disabled;
  }
}

// VALIDATION
// ============================================================
.form-error {

  &__message {
    margin: 0;
    color: $color__message--alert;
    display: block;
    text-transform: uppercase;
    @include font-size($text__size--xs);
  }

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  select,
  textarea {
    border-color: $color__message--alert;
  }

  em {
    color: $color__message--alert;
  }

  > .legend {
    margin-bottom: 0;

    + .form-error__message {
      margin-bottom: 15px;
    }
  }
}

fieldset.form-error {
  border-radius: $border__radius;
  border: 1px solid $color__message--alert;
  padding: 15px;

  > .form-error__message {
    margin-bottom: 15px;
  }
}

// inside label
label {
  > .form-error__message {
    display: inline-block;
  }
}