// ============================================================
// FORMS
// ============================================================

// INPUT PLACEHOLDER
// Example:
// .class-selector{
//   @include placeholder(red, 14px);
//}
@mixin placeholder($color: $text__color--muted, $size: null) {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  &::-moz-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  &:-ms-input-placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }

  // CSS4
  &::placeholder {
    color: $color;
    @if $size {
      @include font-size($size);
    }
  }
}

// ROWS, FIELDS GROUP
// ============================================================
form, .form {
  .row {
    margin: 0 0 $grid__row--gutter 0;
  }
}

// LABELS
// ============================================================
.labelInside {
  position: relative;

  label {
    color: $text__color--second;
    margin-bottom: 0;
    position: absolute;
  }
}

label, .label {
  color: $text__color--first;
  font-family: $font__base--light;
  display: block;
  margin-bottom: 10px;
  @include font-size(18px);
}

// PLACEHOLDERS
// ============================================================
[placeholder] {
  @include placeholder();
}

// TEXT INPUTS
// ============================================================
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid $border__color--second;
  border-radius: $border__radius;
  background-color: transparent;
  padding: 10px;
  height: 34px;
  color: $text__color--first;
  font-family: $font__base--light;
  @include font-size($text__size--sm);
}

textarea {
  height: auto;
}

// CHECKBOXES, RADIOS
// ============================================================
.fields {
  input[type="checkbox"],
  input[type="radio"] {
    float: left;
    margin-right: 20px;
  }

  label,
  .label {
    position: static;
    overflow: hidden;
    cursor: pointer;
    font-size: 11px;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// Pretty radios & checkboxes
.input-radio, .input-checkbox {
  display: inline-block;

  label {
    display: inline-block;
    margin: 0 40px;
    cursor: pointer;
  }

  span {
    vertical-align: middle;
    margin-left: 5px;
  }

  .icon {
    width: 24px;
    height: 24px;
    padding: 2px;
    border: 1px solid $border__color--second;
    color: transparent;
    @include font-size(18px);
  }

  input {
    display: none;

    // Toggled state
    &:checked {
      ~ .icon {
        color: #000;
      }
    }
  }
}

.input-radio .icon {
  border-radius: 50%;
}

// VALIDATION
// ============================================================

.form-error {
  position: relative;

  .form-field,
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  textarea {
    border-color: $color__message--alert;
  }

  label, .label {
    color: $color__message--alert;
  }

  &__message {
    color: $color__message--alert;
  }
}