/*============================================================
* GRID SYSTEM
* ============================================================*/

@function grid-calc($colNumber, $grid__columns) {
  @return percentage(($colNumber / $grid__columns));
}

// COLUMNS
// ============================================================

%grid-cols-common {
  float: left;
  padding-left: $grid__col--gutter;
  padding-right: $grid__col--gutter;
}

// COMMON STYLES FOR ALL DEVICES
@mixin grid-cols-common {
  @for $i from 1 through $grid__columns {
    &-#{$i},
    &-#{$i}--tablet,
    &-#{$i}--phone {
      @extend %grid-cols-common;
    }
  }
}

// DEFAULT COLUMNS FOR DESKTOP
@mixin grid-cols {
  @for $i from 1 through $grid__columns {
    &-#{$i} {
      width: grid-calc($i, $grid__columns);
    }
  }
}

// RWD COLUMNS FOR TABLET
@mixin grid-cols-tablet {
  @include respond-to(tablet) {
    @for $i from 1 through $grid__columns {
      &-#{$i}--tablet {
        width: grid-calc($i, $grid__columns);
      }
    }
  }
}

// RWD COLUMNS FOR PHONE
@mixin grid-cols-phone {
  @include respond-to(phone) {
    @for $i from 1 through $grid__columns {
      &-#{$i}--phone {
        width: grid-calc($i, $grid__columns);

        // IF col is 100% width then add bottom gutter
        @if $i == 12 {
          //margin-bottom: $grid__col--gutter;
        }
      }
    }
  }
}

// OFFSETS
// ============================================================
@mixin grid-cols-offset {
  @for $i from 1 through $grid__columns {
    &--offset-#{$i} {
      margin-left: grid-calc($i, $grid__columns);
    }
  }
}

// GRID HELPERS
// ============================================================
%row-add-gutter {
  margin-bottom: $grid__row--gutter;
}

%row-dbl-gutter {
  margin-bottom: $grid__row--gutter*2;

  @include respond-to(phone) {
    margin-bottom: $grid__row--gutter;
  }
}

%row--no-gutter {
  margin: 0;
}

// MOUNTING GRID
// ============================================================
// todo: add to docs
.box {
  width: 100%;
  //max-width: $page__width--maxsize;
  //min-width: $page__width--minsize;
  margin: 0 auto;

  &--add-gutter {
    margin-bottom: $grid__row--gutter;
  }

  @extend %clearfix;
}

// COLUMNS
// ------------------------------------------------------------
.col {
  &--no-gutter {
    padding: 0;
  }

  @include grid-cols-common;
  @include grid-cols;
  @include grid-cols-tablet;
  @include grid-cols-phone;
  @include grid-cols-offset;
}

// ROWS
// ------------------------------------------------------------
.row {
  margin-left: -$grid__col--gutter;
  margin-right: -$grid__col--gutter;

  &--add-gutter{
    @extend %row-add-gutter;
  }

  &--dbl-gutter {
    @extend %row-dbl-gutter;
  }

  &.row--no-gutter {
    @extend %row--no-gutter;
  }

  .row {
    clear: both;
  }

  @extend %clearfix;
}