/*============================================================
* GRID SYSTEM
* ============================================================*/

@function grid-calc($colNumber, $grid__columns) {
  @return percentage(($colNumber / $grid__columns));
}

// COLUMNS
// ============================================================
@mixin grid-cols {
  @for $i from 1 through $grid__columns {
    &-#{$i} {
      width: grid-calc($i, $grid__columns);
    }
  }
}

// RWD COLUMNS FOR TABLET
@mixin grid-cols-tablet {
  @include respond-to(tablet) {
    @for $i from 1 through $grid__columns {
      &-#{$i}--tablet {
        width: grid-calc($i, $grid__columns);
      }
    }
  }
}

// RWD COLUMNS FOR PHONE
@mixin grid-cols-phone {
  @include respond-to(phone) {
    @for $i from 1 through $grid__columns {
      &-#{$i}--phone {
        width: grid-calc($i, $grid__columns);

        // IF col is 100% width then add bottom gutter
        @if $i == 12 {
          margin-bottom: $grid__col--gutter;
        }
      }
    }
  }
}

// OFFSETS
// ============================================================
@mixin grid-cols-offset {
  @for $i from 1 through $grid__columns {
    &--offset-#{$i} {
      margin-left: grid-calc($i, $grid__columns);
    }
  }
}

// GRID HELPERS
// ============================================================
%dbl-gutter {
  margin: 0 (-$grid__document--gutter) $grid__row--gutter*2 (-$grid__document--gutter);

  @include respond-to(phone) {
    margin-bottom: $grid__row--gutter;
  }
}

%dbl-gutter-top {
  margin-top: $grid__row--gutter*2;
}

%row--no-gutter {
  margin: 0 (-$grid__document--gutter) 0 (-$grid__document--gutter);
}

// MOUNTING GRID
// ============================================================
.grid {
  width: 100%;
  max-width: $page__width--maxsize;
  min-width: $page__width--minsize;
  margin: 0 auto;

  &--add-margin {
    margin-bottom: $grid__col--gutter;
  }

  @include clearfix;
}

// COLUMNS
// ------------------------------------------------------------
[class^="col-"]{
  float: left;
  padding: 0 $grid__col--gutter;

  .row {
    margin: 0 (-$grid__col--gutter);
  }
}

.col{
  &--no-gutter {
    padding: 0;
  }

  @include grid-cols;
  @include grid-cols-tablet;
  @include grid-cols-phone;
  @include grid-cols-offset;
}

// ROWS
// ------------------------------------------------------------
.row {
  margin: 0 (-$grid__document--gutter) $grid__row--gutter (-$grid__document--gutter);
  //@include row-helpers;

  &.row--dbl-gutter {
    @extend %dbl-gutter;
  }

  &.row--dbl-gutter-top {
    @extend %dbl-gutter-top;
  }

  &.row--no-gutter {
    @extend %row--no-gutter;
  }

  .row {
    clear: both;

    &.row--dbl-margin-top {
      margin-top: 0;

      > .col {
        margin-top: $grid__row--gutter*2;

        @include respond-to(phone) {
          margin-top: $grid__row--gutter;
        }
      }
    }

    &.row--dbl-margin {
      margin-top: 0;
      margin-bottom: 0;

      > .col {
        margin-top: $grid__row--gutter*2;
        margin-bottom: $grid__row--gutter*2;

        @include respond-to(phone) {
          margin-top: $grid__row--gutter;
          margin-bottom: $grid__row--gutter;
        }
      }
    }
  }

  @include clearfix;
}