// ============================================================
// MATE HELPERS
// ============================================================

// ============================================================
// POSITIONING
// ============================================================
.inline-left {
  text-align: left;
}

.inline-center {
  text-align: center;
}

.inline-right {
  text-align: right;
}

.inline-justify {
  text-align: justify;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// [i] Use floats for positioning image with text
.float-right {
  float: right;
}

.float-left {
  float: left;
}

// TODO: make it dynamic, example: (top,50)
.margin-top-50 {
  margin-top: 50px;
}

.no-margin{
  margin: 0;
}

// ============================================================
// BORDERS
// ============================================================
.radius-none {
  border-radius: 0;
}

.img-circle{
  border-radius: 50%;
}

// ============================================================
// HIDE ELEMENTS
// ============================================================
.hidden {
  display: none !important;
}

.hidden--desktop {
  @include respond-to(desktop) {
    display: none !important;
  }
}

.hidden--mobile {
  @include respond-to(mobile) {
    display: none !important;
  }
}

.hidden--tablet {
  @include respond-to(tablet) {
    display: none !important;
  }
}

.hidden--phone {
  @include respond-to(phone) {
    display: none !important;
  }
}