// ============================================================
// POSITIONING
// ============================================================
.inline-left {
  text-align: left;

  &--phone {
    @include respond-to($phone) {
      text-align: left;
    }
  }
}

.inline-center {
  text-align: center;

  &--phone {
    @include respond-to($phone) {
      text-align: center;
    }
  }
}

.inline-right {
  text-align: right;

  &--phone {
    @include respond-to($phone) {
      text-align: right;
    }
  }
}

.inline-justify {
  text-align: justify;

  &--phone {
    @include respond-to($phone) {
      text-align: justify;
    }
  }
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

// [i] Use floats for positioning image with text
.float-right {
  float: right;
}

.float-left {
  float: left;
}

// TODO: make it dynamic, example: (top,50)
.margin-top--50 {
  margin-top: 50px;
}

.no-margin {
  margin: 0;
}

// ============================================================
// BORDERS
// ============================================================
.radius-none {
  border-radius: 0;
}

.img-circle {
  border-radius: 50%;
}

// ============================================================
// HIDE ELEMENTS
// ============================================================
.hidden {
  display: none !important;
}

.hidden--desktop {
  @include respond-to($desktop) {
    display: none !important;
  }
}

.hidden--mobile {
  @include respond-to($mobile) {
    display: none !important;
  }
}

.hidden--tablet {
  @include respond-to($tablet) {
    display: none !important;
  }
}

.hidden--phone {
  @include respond-to($phone) {
    display: none !important;
  }
}

.link-neutral {
  text-decoration: none;
  color: $text__color--first;
  word-wrap: break-word;

  &:hover {
    color: $text__color--link;
  }
}

// ============================================================
// RWD
// ============================================================
.img--rwd{
  max-width: 100%;
  height: auto;
}

.video--rwd{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  > iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}