// todo: add icons assets like in bootstrap

// ============================================================
// ICON FONT
// ============================================================
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon/icomoon.woff') format('woff'),
  url('../../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ICON SIZES
// ============================================================
$icon-sizes: ("s": 18px, "m": 25px, "l": 35px, "xl": 50px, "xxl": 75px);
@each $name, $size in $icon-sizes {
  .icon-#{$name} {
    &:before {
      @include font-size($size);
    }
  }
}

[class^="icon-"],
[class*="icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ICON TYPES
// ============================================================
.icon-checkmark:before {
  content: "\e600";
}

.icon-file-pdf:before {
  content: "\e601";
}

.icon-facebook:before {
  content: "\e602";
}

.icon-arrow-left:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e604";
}

.icon-mark-github:before {
  content: "\e605";
}