// ============================================================
// NAVIGATIONS
// ============================================================

ul {
  &.-divided {
    a {
      padding: 5px;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin: 0;
        list-style-type: none;

        &:before {
          content: '';
          border-left: 1px solid $color__base--first;
          margin: 0 5px;
          font-size: 70%;
          vertical-align: middle;
        }

        &:first-child:before {
          content: none;
        }
      }
    }
  }
}