// ============================================================
// TABELS
// ============================================================

%table-frame {
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}

%table-thead {
  background-color: $block__color--first;
  font-family: $font__base--bold;
  text-align: left;
  line-height: normal;
}

%table-cell {
  padding: 0.5em 1em;
  border-bottom: 1px solid $border__color--first;
  font-weight: normal;
}

%table-bordered-frame {
  border: 1px solid $border__color--first;
}

%table-bordered-cell {
  border-left: 1px solid $border__color--first;
}

%table-striped {
  background-color: lighten($block__color--first, 8);
}

%table-wide {
  width: 100%;
}

%table-clean {
  padding: 0;
  border: 0;
}

%table-fixed {
  width: inherit;
}

// COMMON FOR STANDARD TABLE & CSS TABLE
// ============================================================
table, .table-css {
  // RWD
  @include respond-to($mobile) {
    overflow-x: auto;
    display: block;
  }

  // Super wide
  &.table--wide {
    @extend %table-wide;
  }

  // Clean table
  &.table--clean {
    th, td,
    [class*="col-"], .row > div {
      @extend %table-clean;
    }
  }

  // Bordered
  &.table--bordered {
    @extend %table-bordered-frame;

    th, td,
    [class*="col-"], .row > div {
      @extend %table-bordered-cell;

      &:first-child {
        border-left: 0;
      }
    }
  }

  // Striped
  &.table--striped {
    tr:nth-child(odd),
    .row:not(.table-thead):nth-child(odd) {
      td,
      [class*="col-"], > div {
        @extend %table-striped;
      }
    }
  }

}

// STANDARD TABLE
// ============================================================
table {
  @extend %table-frame;

  thead {
    @extend %table-thead;
  }

  tbody {
    th {
      text-align: left;
      font-family: $font__base--bold;
      line-height: normal;
      vertical-align: top;
    }
  }

  th, td {
    @extend %table-cell;
  }

}

// TABLE MADE BY CSS
// ============================================================
.table-css {
  display: table;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;

  // Row
  .row {
    margin: 0;
    display: table-row;

    &:before,
    &:after {
      display: none;
    }
  }

  // One row table
  &.row {
    [class*="col-"],
    > div {
      border-bottom: 0;
    }
  }

  // Cells
  .table-thead {
    [class*="col-"],
    > div {
      @extend %table-thead;
    }
  }

  [class*="col-"],
  .row > div {
    @extend %table-cell;
    display: table-cell;
    float: none;
    vertical-align: middle;

    &.vertical-top {
      vertical-align: top;
    }

    &.vertical-bottom {
      vertical-align: bottom;
    }
  }

  // Auto columns size
  &.table--auto-size {
    [class*="col-"],
    .row > div {
      width: auto;
    }
  }
}