// ============================================================
// TABELS
// ============================================================

%table-frame {
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}

%table-thead {
  background-color: $block__color--first;
  font-family: $font__base--bold;
  text-align: left;
}

%table-col {
  padding: 0.5em 1em;
  border-bottom: 1px solid $border__color--first;
}

%table-bordered-frame {
  border: 1px solid $border__color--first;
}

%table-bordered-col {
  border-left: 1px solid $border__color--first;
}

%table-striped {
  background-color: lighten($block__color--first, 10);
}

%table-wide {
  width: 100%;
}

table {
  @extend %table-frame;

  thead {
    @extend %table-thead;
  }

  th, td {
    @extend %table-col;
  }

  // bordered
  &.table-bordered {
    @extend %table-bordered-frame;

    th, td {
      @extend %table-bordered-col;
    }
  }

  // striped
  &.table-striped {
    tr:nth-child(odd) {
      td {
        @extend %table-striped;
      }
    }
  }

  // Super wide
  &.table-wide {
    @extend %table-wide;
  }
}

// TABLE MADE BY CSS
.table-css {
  display: table;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;

  // Row
  .row {
    margin: 0;
    display: table-row;

    &:before,
    &:after {
      display: none;
    }
  }

  // One row table
  &.row {
    [class*="col-"],
    > div{
      border-bottom: 0;
    }
  }

  // Columns
  .table-thead {
    [class*="col-"],
    > div{
      @extend %table-thead;
    }
  }

  [class*="col-"],
  .row > div{
    @extend %table-col;
    display: table-cell;
    float: none;
    width: auto;
  }

  // Bordered
  &.table-bordered {
    @extend %table-bordered-frame;

    [class*="col-"],
    .row > div{
      @extend %table-bordered-col;

      &:first-child {
        border-left: 0;
      }
    }
  }

  // Striped
  &.table-striped {
    .row:not(.table-thead):nth-child(odd) {
      [class*="col-"],
      > div{
        @extend %table-striped;
      }
    }
  }

  // Clean table
  &.table-clean {
    [class*="col-"],
    .row > div{
      padding: 0;
      border: 0;
    }
  }

  // Super wide
  &.table-wide {
    @extend %table-wide;
  }
}