// ============================================================
// TABELS
// ============================================================

table {
  empty-cells: show;
  border: 1px solid $border__color--first;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: $block__color--first;
    font-family: $font__base--bold;
    text-align: left;
  }

  th, td {
    padding: 0.5em 1em;
    border-bottom: 1px solid $border__color--first;
  }

  // bordered
  &.table-bordered {
    th, td {
      border-left: 1px solid $border__color--first;
    }
  }

  // striped
  &.table-striped {
    tr:nth-child(odd){
      td {
        background-color: lighten($block__color--first, 10);
      }
    }
  }

  // striped
  &.table-wide {
    width: 100%;
  }
}

// TABLE MADE BY CSS
// todo: describe in doc
.css-table {
  display: table;
  width: 100%;

  > [class*="col"] {
    display: table-cell;
    float: none;
  }
}