// ============================================================
// TYPOGRAPHY
// ============================================================

// TYPOGRAPHY: PARAGRAPHS
// ============================================================
p {
  margin-top: $margin--typography;
  margin-bottom: $margin--typography;

  &:first-child {
    margin-top: 0;
  }
}

// TYPOGRAPHY: SPECIAL TAGS
// ============================================================
strong, b {
  font-family: $font__base--bold;
  font-weight: normal;
}

// TYPOGRAPHY: HEADERS
// ============================================================
h1 {
  font-size: $text__size--xxl;
  font-family: $font__base--medium;
  margin-top: $text__size--xxl;
  margin-bottom: $text__size--xxl;
  font-weight: normal;
  line-height: normal;

  @include respond-to($phone) {
    margin-top: floor($text__size--xxl / 1.5);
    margin-bottom: floor($text__size--xxl / 1.5);
  }
}

h2 {
  font-size: $text__size--xl;
  font-family: $font__base--medium;
  margin-top: $text__size--xl;
  margin-bottom: $text__size--xl;
  font-weight: normal;
  line-height: normal;

  @include respond-to($phone) {
    margin-top: floor($text__size--xl / 1.5);
    margin-bottom: floor($text__size--xl / 1.5);
  }
}

h3 {
  font-size: $text__size--lg;
  font-family: $font__base--medium;
  margin-top: $text__size--lg;
  margin-bottom: $text__size--lg;
  font-weight: normal;
  line-height: normal;

  @include respond-to($phone) {
    margin-top: floor($text__size--lg / 1.5);
    margin-bottom: floor($text__size--lg / 1.5);
  }
}

h4 {
  font-size: $text__size--md;
  font-family: $font__base--regular;
  margin-top: $text__size--lg;
  margin-bottom: $text__size--lg;
  font-weight: normal;
  line-height: normal;

  @include respond-to($phone) {
    margin-top: floor($text__size--md / 1.5);
    margin-bottom: floor($text__size--md / 1.5);
  }
}

h5 {
  font-size: $text__size--sm;
  font-family: $font__base--regular;
  margin-top: $text__size--sm;
  margin-bottom: $text__size--sm;
  font-weight: normal;
  line-height: normal;
}

h6 {
  font-size: $text__size--xs;
  margin-top: $text__size--xs;
  margin-bottom: $text__size--xs;
  font-weight: normal;
  line-height: normal;
}

// TYPOGRAPHY: LISTS
// ============================================================
ul, ol {
  margin-top: $margin--typography;
  margin-bottom: $margin--typography;

  &.list-inline {
    padding: 0;

    li {
      display: inline-block;
    }
  }

  // second level
  li:last-child ul {
    margin-bottom: 0;
  }

  ul, ol {
    margin-top: $margin--typography;

    &:last-child {
      margin-bottom: $margin--typography;
    }
  }
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-path {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;

    &:after {
      content: "\e65c";
      font-family: 'icomoon', sans-serif;
      color: $text__color--muted;
      vertical-align: bottom;
      font-size: 2rem;
      line-height: 1;
    }

    &:last-child:after {
      display: none;
    }
  }
}

dl {
  margin-top: $margin--typography;
  margin-bottom: $margin--typography;

  dt {
    font-family: $font-_base--medium;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-bottom: 0;
  }
}

// list separator
ul, ol, dl {

  li, dt {
    &.separator,
    &.separator--line{
      margin: 0;
      list-style-type: none;

      &:after {
        content: '';
        display: block;
        min-height: $text__size--base;
      }
    }

    &.separator--line:after {
      border-bottom: 1px solid $border__color--first;
      margin-bottom: $text__size--base;
    }

  }
}