// ============================================================
// TYPOGRAPHY
// ============================================================

// FONT FACE
// [i] only woff & svg are needed today, see http://caniuse.com/#feat=fontface
// ============================================================
@mixin font-face($dir, $file) {
  @each $faceFile in $file {
    @font-face {
      font-family: quote($faceFile);
      font-style: normal;
      font-weight: normal;
      src:
      //url($dir + $faceFile + ".woff2") format('woff2'), // FUTURE USE
      url($dir + $faceFile + ".woff") format('woff'),
      url($dir + $faceFile + ".svg#" + $faceFile + "") format('svg');
    }
  }
}

// TYPOGRAPHY: BASE FONT FACE
// ============================================================
@include font-face($font__base--dir, $font__base--file);

// TYPOGRAPHY: PARAGRAPHS
// ============================================================
p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

// TYPOGRAPHY: SPECIAL TAGS
// ============================================================
strong, b {
  font-family: $font__base--bold;
  font-weight: normal;
}

// TYPOGRAPHY: HEADERS
// ============================================================
h1 {
  @include font-size($text__size--xxl);
  font-family: $font__base--regular;
  margin: $text__size--xxl 0;
  line-height: 1;
  font-weight: normal;

  // todo: do tests
  @include respond-to(phone) {
    @include font-size($text__size--xxl /1.5);
    margin: $text__size--xxl /1.5 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  @include font-size($text__size--xl);
  font-family: $font__base--regular;
  margin: $text__size--xl 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to(phone) {
    @include font-size($text__size--xl /1.5);
    margin: $text__size--xl /1.5 0;
  }

  &:first-child{
    margin-top: 0;
  }
}

h3 {
  @include font-size($text__size--lg);
  font-family: $font__base--regular;
  margin: $text__size--lg 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to(phone) {
    @include font-size($text__size--lg /1.5);
    margin: $text__size--lg /1.5 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  @include font-size($text__size--md);
  font-family: $font__base--regular;
  margin: $text__size--lg 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to(phone) {
    @include font-size($text__size--md /1.5);
    margin: $text__size--md /1.5 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h5 {
  @include font-size($text__size--sm);
  font-family: $font__base--regular;
  margin: $text__size--sm 0;
  font-weight: normal;
  line-height: normal;

  @include respond-to(phone) {
    @include font-size($text__size--sm /1.5);
    margin: $text__size--sm /1.5 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h6 {
  @include font-size($text__size--xs);
  margin: $text__size--xs 0;
  font-weight: normal;
  line-height: normal;
}

// TYPOGRAPHY: LISTS
// ============================================================
ul, ol, {
  margin: 0 0 15px;

  &:last-child{
    margin-bottom: 0;
  }

  &.list-inline {
    padding: 0;

    li {
      display: inline-block;
    }
  }

  // second level
  li:last-child ul {
    margin-bottom: 0;
  }

  ul, ol {
    margin-top: 15px;

    &:last-child{
      margin-bottom: 15px;
    }
  }
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-path {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;

    &:after {
      content: '\25B8';
      color: $text__color--muted;
    }

    &:last-child:after {
      display: none;
    }
  }
}

dl {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }

  dt{
    font-family: $font-_base--medium;
    margin-top: 10px;

    &:first-child{
      margin-top: 0;
    }
  }

  dd {
    margin-bottom: 0;
  }
}

// list separator
ul, ol, dl {
  .separator {
    margin: 0;
    list-style-type: none;
  }
}