// ============================================================
// TYPOGRAPHY
// ============================================================

// TYPOGRAPHY: PARAGRAPHS
// ============================================================
p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

// TYPOGRAPHY: SPECIAL TAGS
// ============================================================
strong, b {
  font-family: $font__base--bold;
  font-weight: normal;
}

// TYPOGRAPHY: HEADERS
// ============================================================
h1 {
  font-size: $text__size--xxl;
  font-family: $font__base--regular;
  margin: $text__size--xxl 0;
  line-height: 1;
  font-weight: normal;

  @include respond-to($phone) {
    margin: floor($text__size--xxl / 1.5) 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: $text__size--xl;
  font-family: $font__base--regular;
  margin: $text__size--xl 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to($phone) {
    margin: floor($text__size--xl / 1.5) 0;
  }

  &:first-child{
    margin-top: 0;
  }
}

h3 {
  font-size:$text__size--lg;
  font-family: $font__base--regular;
  margin: $text__size--lg 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to($phone) {
    margin: floor($text__size--lg / 1.5) 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  font-size:$text__size--md;
  font-family: $font__base--regular;
  margin: $text__size--lg 0;
  font-weight: normal;
  line-height: 1;

  @include respond-to($phone) {
    margin: floor($text__size--md / 1.5) 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

h5 {
  font-size:$text__size--sm;
  font-family: $font__base--regular;
  margin: $text__size--sm 0;
  font-weight: normal;
  line-height: normal;

  &:first-child {
    margin-top: 0;
  }
}

h6 {
  font-size: $text__size--xs;
  margin: $text__size--xs 0;
  font-weight: normal;
  line-height: normal;
}

// TYPOGRAPHY: LISTS
// ============================================================
ul, ol, {
  margin: 0 0 15px;

  &:last-child{
    margin-bottom: 0;
  }

  &.list-inline {
    padding: 0;

    li {
      display: inline-block;
    }
  }

  // second level
  li:last-child ul {
    margin-bottom: 0;
  }

  ul, ol {
    margin-top: 15px;

    &:last-child{
      margin-bottom: 15px;
    }
  }
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-path {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;

    &:after {
      content: "\e65c";
      font-family: 'icomoon', sans-serif;
      color: $text__color--muted;
      vertical-align: bottom;
      font-size: 2rem;
      line-height: 1;
    }

    &:last-child:after {
      display: none;
    }
  }
}

dl {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }

  dt{
    font-family: $font-_base--medium;
    margin-top: 10px;

    &:first-child{
      margin-top: 0;
    }
  }

  dd {
    margin-bottom: 0;
  }
}

// list separator
ul, ol, dl {
  .separator {
    margin: 0;
    list-style-type: none;
  }
}