// ============================================================
// BASE
// ============================================================

*, :before, :after {
  @extend %box-sizing;
}

html {
  font-size: 62.5%; /* Sets up the root font size to 10px */
}

body {
  color: $text__color--first;
  font-family: $font__base--light;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  @include font-size($text__size--m);
}

.box{
  margin: 0 auto;
  padding: 0 $grid__documentGutter;
  max-width: $page__width--maxsize;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

hr{
  border: 0;
  height: 1px;
  background-color: $color__base--second;
  margin: 15px auto;

  &.mini{
    width: 150px;
    margin: 50px auto;
  }
}

// ============================================================
// NAVIGATIONS
// ============================================================
a {
  color: $text__color--link;

  &:hover {
    text-decoration: none;
  }

  &:focus {

  }

  &:active {

  }

  &:visited {

  }
}

nav {
  a {
    padding: 5px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0;
      list-style-type: none;

      &:first-child:before {
        content: none;
      }

      &:before {
        content: '';
        border-left: 1px solid $color__base--first;
        margin: 0 5px;
        font-size: 70%;
        vertical-align: middle;
      }
    }
  }
}