// SIZES
// ============================================================
$page__width--maxsize:      1180px;
$page__width--minsize:      320px;

$breakPoint__phone:         720px;
$breakPoint__tablet:        768px;
$breakPoint__tablet--xs:    800px;
$breakPoint__desktop:       1024px;
$breakPoint__desktop--xl:   1180px;

// FONTS
// ============================================================
$font__icons--dir:          "../../fonts/mate";
$font__base--dir:           "../../fonts/lato";
$font__base--family:        (
                              // font-file-name: font-family
                              Lato-Regular: LatoRegular,
                              Lato-Bold: LatoBold,
                              Lato-Light: LatoLight,
                              Lato-Italic: LatoItalic
                            );

$font__base--simple:        'Helvetica Neue', 'Trebuchet MS', 'Arial', sans-serif;
$font__base--book:          'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

$font__base--regular:       quote(map-get($font__base--family, Lato-Regular)), $font__base--simple;
$font__base--bold:          quote(map-get($font__base--family, Lato-Bold)), $font__base--simple;
$font__base--light:         quote(map-get($font__base--family, Lato-Light)), $font__base--simple;
$font__base--italic:        quote(map-get($font__base--family, Lato-Italic)), $font__base--simple;

// COLORS BASE PALETTE
// [i] Name your colors http://name-of-color.com/
// [i] Get your palette for quick start: https://color.adobe.com/pl/create/color-wheel/
// ============================================================
$color__base--first:        #1ab394 !default;
$color__base--second:       #272822 !default;

$color__message--alert:     #d62100 !default;
$color__message--warning:   #ffb82d !default;
$color__message--info:      #249cff !default;
$color__message--success:   #00A631 !default;

// TEXTS
// ============================================================

// text--sizes
$text__size--xs:            1.2rem !default;
$text__size--sm:            1.4rem !default;
$text__size--md:            1.6rem !default;
$text__size--lg:            2.2rem !default;
$text__size--xl:            3.4rem !default;
$text__size--xxl:           4.2rem !default;
$text__size--base:          $text__size--md;

// text--line-height
// [i] find your own optimal line-height: http://www.pearsonified.com/typography/
$text__line-height:         1.5;

// text--colors
$text__color--first:        #3c3c3c !default;
$text__color--second:       #ffffff !default;

$text__color--muted:        #959A9D !default;
$text__color--link:         #249cff !default;


// BLOCKS
// ============================================================

// block--colors
$block__color--first:       #dddddd !default;
$block__color--second:      #353535 !default;


// BUTTONS
// ============================================================

// button--colors
$btn__color--first:         #1ab394 !default;
$btn__color--first-txt:     #ffffff !default;

$btn__color--second:        #249cff !default;
$btn__color--second-txt:    #ffffff !default;

$btn__color--third:         #272822 !default;
$btn__color--third-txt:     #ffffff !default;

$btn__outline--width:       2px;

// button sizes (type, top & bottom padding, left & right padding)
$btn__sizes:                (xs, 0.3rem, 0.6rem),
                            (sm, 0.7rem, 1.4rem),
                            (md, 1.1rem, 2rem),
                            (lg, 1.1rem, 2.2rem),
                            (xl, 1rem, 3.5rem),
                            (xxl, 1rem, 4rem);

// ICONS
// ============================================================
$icon__sizes:               (sm 2rem),
                            (md 3rem),
                            (lg 4rem),
                            (xl 6rem),
                            (xxl 8rem);

// BORDERS
// ============================================================
$border__width--base:       1px;
$border__style--base:       solid;

$border__radius:            4px !default;

$border__color--first:      #cccccc !default;
$border__color--second:     #249cff !default;

// GRID
// ============================================================
$grid__columns:             12;
$grid__col--gutter:         25px;
$grid__col--gutter-phone:   15px;
$grid__row--gutter:         25px;

// MARGINS
// ============================================================
$margin--typography:        15px;
$margin--image:             15px;
$margin--section:           $grid__row--gutter*2;

// FORMS
// ============================================================
$form__field--padding:      (0.8rem 1rem);
$form__field--bkg-color:    #ffffff !default;
$form__field--text-color:   #000000 !default;
$form__field--bkg-muted:    #dcdcdc !default;
$form__pretty-input--size:  22px;

// TRANSITIONS
// ============================================================
$trans__base--duration:     300ms !default;
$trans__base--timing:       ease-in-out !default;
$trans__base--delay:        0s !default;

// SHADOWS
// ============================================================
$shadow__box--first:        0 1px 3px 0 rgba(0, 0, 0, 0.3) !default;

// DEBUG OPTIONS
// ============================================================
$debug--show-device-size: false;