// SIZES
// ============================================================
$page__width--maxsize:      1024px;
$page__width--minsize:      320px;

$breakPoint__phone:         720px;
$breakPoint__tablet:        768px;
$breakPoint__desktop:       1024px;
$breakPoint__desktop--xl:   1280px;


// FONTS
// ============================================================
$font__base--dir:           "../../fonts/lato/";
$font__base--family:        ( // file-name: font-family
                              Lato-Regular: LatoRegular,
                              Lato-Medium: LatoMedium,
                              Lato-Bold: LatoBold,
                              Lato-Light: LatoLight,
                              Lato-Italic: LatoItalic,
                              Lato-MediumItalic: LatoMediumItalic,
                              Lato-BoldItalic: LatoBoldItalic,
                              Lato-LightItalic: LatoLightItalic
                            );
$font__base--simple:        'Helvetica Neue', 'Trebuchet MS', 'Arial', sans-serif;
$font__base--book:          'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

$font__base--regular:       quote(map-get($font__base--family, Lato-Regular)), $font__base--simple, sans-serif;
$font__base--medium:        quote(map-get($font__base--family, Lato-Medium)), $font__base--simple, sans-serif;
$font__base--bold:          quote(map-get($font__base--family, Lato-Bold)), $font__base--simple, sans-serif;
$font__base--light:         quote(map-get($font__base--family, Lato-Light)), $font__base--simple, sans-serif;
$font__base--italic:        quote(map-get($font__base--family, Lato-Italic)), $font__base--simple, sans-serif;
$font__base--italic-medium: quote(map-get($font__base--family, Lato-MediumItalic)), $font__base--simple, sans-serif;
$font__base--italic-bold:   quote(map-get($font__base--family, Lato-BoldItalic)), $font__base--simple, sans-serif;
$font__base--italic-light:  quote(map-get($font__base--family, Lato-LightItalic)), $font__base--simple, sans-serif;

// COLORS BASE PALETTE
// [i] get your palette for quick start: https://color.adobe.com/pl/create/color-wheel/
// ============================================================
$color__base--first:        #1ab394;
$color__base--second:       #272822;

$color__message--alert:     #B03C1D;
$color__message--warning:   #ffb82d;
$color__message--info:      #249cff;
$color__message--success:   #00A631;

// TEXTS
// ============================================================

// text--sizes
$text__size--xs:            1.2rem;
$text__size--sm:            1.4rem;
$text__size--md:            1.6rem;
$text__size--lg:            2.2rem;
$text__size--xl:            3.4rem;
$text__size--xxl:           4.2rem;
$text__size--base:          $text__size--md;

// text--line-height
// [i] find your own optimal line-height: http://www.pearsonified.com/typography/
$text__line-height-ratio:   1.5;

// text--colors
$text__color--first:        #3c3c3c;
$text__color--second:       #fff;

$text__color--muted:        #959A9D;
$text__color--link:         #249cff;


// BLOCKS
// ============================================================

// block--colors
$block__color--first:       #DDD;
$block__color--second:      #353535;


// BUTTONS
// ============================================================

// button--colors
$btn__color--first:         #1ab394;
$btn__color--second:        #249cff;
$btn__color--third:         #272822;

// button--styles
$btn__outline--width:       2px;


// BORDERS
// ============================================================
$border__width--base:       1px;
$border__style--base:       solid;

$border__radius:            3px;

$border__color--first:      #CCC;
$border__color--second:     #249cff;


// MARGINS
// ============================================================
$margin--image:             15px;
$margin--section:           50px;


// GRID
// ============================================================
$grid__columns:             12;
$grid__col--gutter:         25px;
$grid__row--gutter:         25px;
$grid__document--gutter:    25px;


// TRANSITIONS
// ============================================================
$trans__base--duration:     300ms !default;
$trans__base--timing:       ease-in-out !default;
$trans__base--delay:        0s !default;


// SHADOWS
// ============================================================
$shadow__box--first:        0 1px 3px 0 rgba(0, 0, 0, 0.3);