/*============================================================
* mate front-end framework
* https://github.com/r4fx/mate
* ============================================================
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/*============================================================
EXTENDS, PLACEHOLDERS
============================================================*/
.grid:before, .row:before, .grid:after, .row:after {
  content: "";
  display: table; }
.grid:after, .row:after {
  clear: both; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*============================================================
MEDIA QUERIES BREAKPOINT
[i] breakpoints inpired by
http://blog.uxpin.com/4596/responsive-web-design-cheat-sheet/
and Chrome Dev Tools devices

Examples:

@include respond-to(desktop, xl) {
  width: 33.333%;
}
============================================================*/
/*============================================================
BORDERS
============================================================*/
/*============================================================
GRADIENTS

TODO: make mixin
============================================================*/
/*============================================================
REM SIZES
============================================================*/
/* ============================================================
REM FONT SIZE

Examples:
@include font-size(14px, 60px); - general
@include font-size(14px, 1); - for text inputs
============================================================*/
/* ============================================================
REM LINE HEIGHT

Examples:
@include lineheight-size(18px)
============================================================*/
/*============================================================
STRIP UNITS

Examples:
strip-units(24px) returns: 24 without "px"
============================================================*/
/*============================================================
TRANSFORMS
============================================================*/
/*============================================================
TRANSITIONS
============================================================*/
/*============================================================
FLEX BOX
============================================================*/
/*============================================================
POSITIONING
============================================================*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body,
figure {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 62.5%;
  /* Sets up the root font size to 10px */ }

body {
  color: #3c3c3c;
  font-family: "lato-light", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem; }
  body.orientation-landscape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: url(../../images/mobile-lock.svg) no-repeat center center #fff;
    background-size: 60%;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s; }

a {
  color: #249cff; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: 0;
  height: 1px;
  background-color: #3c3c3c;
  margin: 15px auto; }
  hr.mini {
    width: 150px;
    margin: 50px auto; }

/* ============================================================
* BUTTONS
* ============================================================*/
.btn {
  line-height: 1.5;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }

.btn--sm {
  padding: 2px 10px;
  font-size: 14px;
  font-size: 1.4rem; }
.btn--md {
  padding: 8px 20px;
  font-size: 16px;
  font-size: 1.6rem; }
.btn--lg {
  padding: 10px 25px;
  font-size: 20px;
  font-size: 2rem; }
.btn--xl {
  padding: 10px 25px;
  font-size: 32px;
  font-size: 3.2rem; }
.btn--xxl {
  padding: 15px 30px;
  font-size: 42px;
  font-size: 4.2rem; }

.btn--color-first {
  background-color: #4DB069;
  color: #fff; }
  .btn--color-first:hover {
    background-color: #65bc7e; }
.btn--color-second {
  background-color: #249cff;
  color: #fff; }
  .btn--color-second:hover {
    background-color: #48acff; }
.btn--color-third {
  background-color: #3c3c3c;
  color: #fff; }
  .btn--color-third:hover {
    background-color: #4e4e4e; }

.btn--outline {
  border: 1px solid inherit;
  border-radius: 5px; }
.btn--block {
  display: block;
  width: 100%; }
.btn--txt {
  padding: 0; }
  .btn--txt:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: inherit; }
.btn--circle {
  line-height: 1;
  position: relative;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid; }
  .btn--circle span {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute; }
  .btn--circle.btn--xxl {
    width: 250px;
    height: 250px; }
.btn--arrow-r, .btn--arrow-l {
  position: relative; }
  .btn--arrow-r:after, .btn--arrow-r:before, .btn--arrow-l:after, .btn--arrow-l:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-style: solid; }
.btn--arrow-r {
  padding-right: 50px; }
  .btn--arrow-r:after {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent white;
    right: 20px; }
.btn--arrow-l {
  padding-left: 50px; }
  .btn--arrow-l:before {
    border-width: 5px 10px 0 5px;
    border-color: transparent white transparent transparent;
    left: 20px; }
.btn .icon {
  top: -3px;
  position: relative; }

.btn-group {
  display: inline-block; }
  .btn-group .btn {
    float: left; }
    .btn-group .btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .btn-group .btn:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 10px; }

form .row,
.form .row {
  margin: 0 0 15px 0; }

.labelInside {
  position: relative; }
  .labelInside label {
    color: #fff;
    margin-bottom: 0;
    position: absolute; }

label,
.label {
  color: #3c3c3c;
  font-family: "lato-light", Arial, sans-serif;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-size: 1.8rem; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  width: 100%;
  height: 60px;
  color: #3c3c3c;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1; }

textarea {
  height: auto; }

.fields input[type="checkbox"],
.fields input[type="radio"] {
  float: left;
  margin-right: 20px; }
.fields label,
.fields .label {
  position: static;
  overflow: hidden;
  cursor: pointer;
  font-size: 11px; }
  .fields label a,
  .fields .label a {
    color: #fff;
    text-decoration: underline; }

.input-radio,
.input-checkbox {
  display: inline-block; }
  .input-radio label,
  .input-checkbox label {
    display: inline-block;
    margin: 0 40px;
    cursor: pointer; }
  .input-radio span,
  .input-checkbox span {
    vertical-align: middle;
    margin-left: 5px; }
  .input-radio .icon,
  .input-checkbox .icon {
    width: 24px;
    height: 24px;
    padding: 2px;
    border: 1px solid #fff;
    color: transparent;
    font-size: 18px;
    font-size: 1.8rem; }
  .input-radio input,
  .input-checkbox input {
    display: none; }
    .input-radio input:checked ~ .icon,
    .input-checkbox input:checked ~ .icon {
      color: #000; }

.input-radio .icon {
  border-radius: 50%; }

.form-error {
  position: relative; }
  .form-error .form-field,
  .form-error input[type="text"],
  .form-error input[type="password"],
  .form-error input[type="tel"],
  .form-error input[type="email"],
  .form-error textarea {
    border-color: #ff3724; }
  .form-error label, .form-error .label {
    color: #ff3724; }
  .form-error__message {
    color: #ff3724; }

/*============================================================
* GRID SYSTEM
* ============================================================*/
.row.row--dbl-gutter {
  margin: 0 -15px 30px -15px; }
  @media (max-width: 719px) {
    .row.row--dbl-gutter {
      margin-bottom: 15px; } }

.row.row--dbl-gutter-top {
  margin-top: 30px; }

.row.row--no-gutter {
  margin: 0 -15px 0 -15px; }

.grid {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto; }
  .grid--add-margin {
    margin-bottom: 15px; }

[class^="col-"] {
  float: left;
  padding: 0 15px; }
  [class^="col-"] .row {
    margin: 0 -15px; }

.col--no-gutter {
  padding: 0; }
.col-1 {
  width: 8.33333%; }
.col-2 {
  width: 16.66667%; }
.col-3 {
  width: 25%; }
.col-4 {
  width: 33.33333%; }
.col-5 {
  width: 41.66667%; }
.col-6 {
  width: 50%; }
.col-7 {
  width: 58.33333%; }
.col-8 {
  width: 66.66667%; }
.col-9 {
  width: 75%; }
.col-10 {
  width: 83.33333%; }
.col-11 {
  width: 91.66667%; }
.col-12 {
  width: 100%; }
@media (min-width: 720px) and (max-width: 1023px) {
  .col-1--tablet {
    width: 8.33333%; }
  .col-2--tablet {
    width: 16.66667%; }
  .col-3--tablet {
    width: 25%; }
  .col-4--tablet {
    width: 33.33333%; }
  .col-5--tablet {
    width: 41.66667%; }
  .col-6--tablet {
    width: 50%; }
  .col-7--tablet {
    width: 58.33333%; }
  .col-8--tablet {
    width: 66.66667%; }
  .col-9--tablet {
    width: 75%; }
  .col-10--tablet {
    width: 83.33333%; }
  .col-11--tablet {
    width: 91.66667%; }
  .col-12--tablet {
    width: 100%; } }
@media (max-width: 719px) {
  .col-1--phone {
    width: 8.33333%; }
  .col-2--phone {
    width: 16.66667%; }
  .col-3--phone {
    width: 25%; }
  .col-4--phone {
    width: 33.33333%; }
  .col-5--phone {
    width: 41.66667%; }
  .col-6--phone {
    width: 50%; }
  .col-7--phone {
    width: 58.33333%; }
  .col-8--phone {
    width: 66.66667%; }
  .col-9--phone {
    width: 75%; }
  .col-10--phone {
    width: 83.33333%; }
  .col-11--phone {
    width: 91.66667%; }
  .col-12--phone {
    width: 100%;
    margin-bottom: 15px; } }
.col--offset-1 {
  margin-left: 8.33333%; }
.col--offset-2 {
  margin-left: 16.66667%; }
.col--offset-3 {
  margin-left: 25%; }
.col--offset-4 {
  margin-left: 33.33333%; }
.col--offset-5 {
  margin-left: 41.66667%; }
.col--offset-6 {
  margin-left: 50%; }
.col--offset-7 {
  margin-left: 58.33333%; }
.col--offset-8 {
  margin-left: 66.66667%; }
.col--offset-9 {
  margin-left: 75%; }
.col--offset-10 {
  margin-left: 83.33333%; }
.col--offset-11 {
  margin-left: 91.66667%; }
.col--offset-12 {
  margin-left: 100%; }

.row {
  margin: 0 -15px 15px -15px; }
  .row .row {
    clear: both; }
    .row .row.row--dbl-margin-top {
      margin-top: 0; }
      .row .row.row--dbl-margin-top > .col {
        margin-top: 30px; }
        @media (max-width: 719px) {
          .row .row.row--dbl-margin-top > .col {
            margin-top: 15px; } }
    .row .row.row--dbl-margin {
      margin-top: 0;
      margin-bottom: 0; }
      .row .row.row--dbl-margin > .col {
        margin-top: 30px;
        margin-bottom: 30px; }
        @media (max-width: 719px) {
          .row .row.row--dbl-margin > .col {
            margin-top: 15px;
            margin-bottom: 15px; } }

.inline-left {
  text-align: left; }

.inline-center {
  text-align: center; }

.inline-right {
  text-align: right; }

.inline-justify {
  text-align: justify; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.margin-top-50 {
  margin-top: 50px; }

.no-margin {
  margin: 0; }

.img-circle {
  border-radius: 50%; }

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon/icomoon.woff") format("woff"), url("../../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon--s:before {
  font-size: 18px;
  font-size: 1.8rem; }

.icon--m:before {
  font-size: 25px;
  font-size: 2.5rem; }

.icon--l:before {
  font-size: 35px;
  font-size: 3.5rem; }

.icon--xl:before {
  font-size: 50px;
  font-size: 5rem; }

.icon--xxl:before {
  font-size: 75px;
  font-size: 7.5rem; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  font-size: 25px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--checkmark:before {
  content: "\e600"; }

.icon--file-pdf:before {
  content: "\e601"; }

.icon--facebook:before {
  content: "\e602"; }

.icon--arrow-left:before {
  content: "\e603"; }

.icon--arrow-right:before {
  content: "\e604"; }

.icon--mark-github:before {
  content: "\e605"; }

ul.-divided a {
  padding: 5px; }
ul.-divided ul {
  padding: 0;
  margin: 0; }
  ul.-divided ul li {
    display: inline-block;
    margin: 0;
    list-style-type: none; }
    ul.-divided ul li:before {
      content: '';
      border-left: 1px solid #4DB069;
      margin: 0 5px;
      font-size: 70%;
      vertical-align: middle; }
    ul.-divided ul li:first-child:before {
      content: none; }

/*============================================================
* TABELS
* ============================================================*/
.table {
  display: table; }
  .table .row {
    display: table-row;
    margin: inherit; }
    .table .row--vertical-middle .col {
      vertical-align: middle; }
  .table .col {
    display: table-cell;
    float: none; }

/*============================================================
* TYPOGRAPHY
* ============================================================*/
@font-face {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-regular.svg#lato-regular") format("svg"); }
@font-face {
  font-family: "lato-semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-semibold.svg#lato-semibold") format("svg"); }
@font-face {
  font-family: "lato-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-bold.svg#lato-bold") format("svg"); }
@font-face {
  font-family: "lato-italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-italic.svg#lato-italic") format("svg"); }
@font-face {
  font-family: "lato-thin";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-thin.svg#lato-thin") format("svg"); }
@font-face {
  font-family: "lato-light";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/lato/lato-light.svg#lato-light") format("svg"); }
p {
  margin: 15px 0; }
  p:last-child {
    margin-bottom: 0; }

strong {
  font-family: "lato-bold", Arial, sans-serif; }

h1 {
  font-size: 42px;
  font-size: 4.2rem;
  font-family: "lato-regular", Arial, sans-serif;
  margin: 42px 0;
  line-height: 1;
  font-weight: normal; }
  @media (max-width: 719px) {
    h1 {
      font-size: 2.1px;
      font-size: 0.21rem; } }

h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "lato-regular", Arial, sans-serif;
  margin: 32px 0;
  font-weight: normal;
  line-height: 1; }

h3 {
  font-size: 20px;
  font-size: 2rem;
  font-family: "lato-regular", Arial, sans-serif;
  margin: 20px 0;
  font-weight: normal;
  line-height: 1; }

h4 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "lato-regular", Arial, sans-serif;
  margin: 20px 0;
  font-weight: normal;
  line-height: 1; }

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "lato-regular", Arial, sans-serif;
  margin: 18px 0;
  font-weight: normal; }

h6 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 18px 0;
  font-weight: normal; }

ul, ol {
  margin: 15px 0; }
  ul.list-unstyled, ol.list-unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
  ul.list-inline, ol.list-inline {
    padding: 0; }
    ul.list-inline li, ol.list-inline li {
      display: inline; }
  ul li, ol li {
    margin-bottom: 7px; }

dl {
  margin: 15px 0; }
  dl dt {
    margin-bottom: 7px; }

li > hr, dt > hr {
  background-color: #3c3c3c; }

/*# sourceMappingURL=mate.css.map */
