<!doctype html>
<html lang="pl">
<head>
    <title>mate front-end framework</title>
    <!-- inject:head:html --><!-- endinject -->
</head>

<body>
<header>
    <!-- inject:header:html --><!-- endinject -->
</header>

<main>
    <aside class="col col-3">
        <!-- inject:aside:html --><!-- endinject -->

        <div class="aside__footer col col-3">
            <!-- inject:footer:html --><!-- endinject -->
        </div>
    </aside>

    <section class="col col-9 offset-3">
        <h1>mate dokumentacja</h1>
    </section>
</main>
</body>
</html>